﻿@{
    ViewBag.Title = "About";
}

<!-- ====================================
——— MAIN SECTION
===================================== -->
<section class="mainContent full-width clearfix aboutSection">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-push-6 col-xs-12">
                <img src="~/assets/img/main.jpg" alt="image"
                     class="img-responsive img-rounded">
            </div>
            <div class="col-sm-6 col-sm-pull-6 col-xs-12">
                <div class="schoolInfo">
                    <h2>About TMCG</h2>
                    <h4>Welcome to Teach My Child Global.</h4>
                    <p style="text-align: justify; font-size: 15px;line-height:
                  1.5;">
                        TMCG is a platform for learners or students with special needs to get 
                        counselors and tutors around them, anywhere in the world.
                        <br />
                        <br />
                        TMCG was also established with the aim of bridging the digital
                        divide that has separated Nigeria not only from the developed
                        nations,but also from some developing nations.
                        <br><br>
                        We are one of the leading professional in IT consultation,
                        embedded systems
                        solution provider, Hi-Tech system provider Company in Nigeria
                        offering solution
                        and training in construction, installation and maintenance
                        services in Engineering, electronics digital systems,
                        Hi-tech systems, Software Engineering, Web development and IT
                        systems solutions.

                    </p>
                    <button onclick="myFunction()" id="myBtn" style="width:120px" class="btn btn-lg">Read more</button>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ====================================
——— COLOR SECTION
===================================== -->
<section class="colorSection full-width clearfix bg-color-4
        servicesSection">
    <div class="container">
        <div class="sectionTitle text-center alt">
            <h2>
                <span class="shape shape-left bg-color-3"></span>
                <span>Our Mission</span>
                <span class="shape shape-right bg-color-3"></span>
            </h2>
        </div>
        <div class="row">
            <p style="font-family: Constantia; color: black; text-align: center;
              font-size: 20px;line-height: 1.5;">
                To integrate our societal intellectuals in their vast knowledge in academics,
                technologies and inventions with students of various disciplines,
                classes or understanding capabilities all over the world,
                using the instrumentality of the internet to connect our world together for excellence and
                further raise the next generation of geniuses, ICT experts, Programmers, Software and Hardware geeks and lots more.
            </p>
        </div>
    </div>
</section>
<br><br>

<section class="colorSection full-width clearfix bg-color-4
        servicesSection">
    <div class="container">
        <div class="sectionTitle text-center alt">
            <h2>
                <span class="shape shape-left bg-color-3"></span>
                <span>Our Vision</span>
                <span class="shape shape-right bg-color-3"></span>
            </h2>
        </div>
        <div class="row">
            <p style="font-family: Constantia; color: black; text-align: center;
              font-size: 20px;line-height: 1.5;">
                To be a global online and offline academic institution capable of
                transforming people from zero academic performance to the zenith of academic excellence in every discipline.
            </p>

        </div>
    </div>
</section>
<br><br>

<section class="colorSection full-width clearfix bg-color-4 servicesSection">
    <div class="container">
        <div class="sectionTitle text-center alt">
            <h2>
                <span class="shape shape-left bg-color-3"></span>
                <span>Our Core Values</span>
                <span class="shape shape-right bg-color-3"></span>
                <p style="color: white">The institution’s Core Value with the acronym “DADDIE” standing for:</p>

            </h2>
        </div>
        <div class="row">
            <div class="col-sm-4 col-sm-offset-2 col-xs-12">
                <div class="media servicesContent rightAlign">
                    <a class="media-left" href="service-details.html">
                        <i class="fa fa-institution bg-color-4" aria-hidden="true"></i>
                    </a>
                    <div class="media-body">
                        <h3 class="media-heading">Diligience</h3>
                        <p style="font-family: Constantia">
                            Persistence and hard-working efforts in ensuring adequate
                            service delivery<br><br><br>
                        </p>
                    </div>
                </div>
                <div class="media servicesContent rightAlign">
                    <a class="media-left" href="service-details.html">
                        <i class="fa fa-book bg-color-4" aria-hidden="true"></i>
                    </a>
                    <div class="media-body">
                        <h3 class="media-heading">Accountability</h3>
                        <p style="font-family: Constantia;">
                            Maintaining a system that
                            is highly accountable and ensuring that its principles is
                            practiced throughout our community<br><br><br />
                        </p>
                    </div>
                </div>
                <div class="media servicesContent rightAlign">
                    <a class="media-left" href="service-details.html">
                        <i class="fa fa-shield bg-color-4" aria-hidden="true"></i>
                    </a>
                    <div class="media-body">
                        <h3 class="media-heading">Discipline</h3>
                        <p style="font-family: Constantia">
                            Ensuring that a conscious
                            controlled behavior and order are imbibed and maintained.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-xs-12">
                <div class="media servicesContent">
                    <a class="media-left" href="service-details.html">
                        <i class="fa fa-leaf bg-color-4" aria-hidden="true"></i>
                    </a>
                    <div class="media-body">
                        <h3 class="media-heading">Dedication</h3>
                        <p style="font-family: Constantia">
                            Devoting quality time and
                            resources to every areas of interest for optimal service
                            delivery.
                        </p>
                    </div>
                </div>
                <div class="media servicesContent">
                    <a class="media-left" href="service-details.html">
                        <i class="fa fa-heart bg-color-4" aria-hidden="true"></i>
                    </a>
                    <div class="media-body">
                        <h3 class="media-heading">Integrity</h3>
                        <p style="font-family: Constantia">
                            Commitment to the promotion
                            of ethical values such as honesty, dignity, credibility and
                            hard-work.<br><br>
                        </p>
                    </div>
                </div>
                <div class="media servicesContent">
                    <a class="media-left" href="service-details.html">
                        <i class="fa fa-graduation-cap bg-color-4" aria-hidden="true"></i>
                    </a>
                    <div class="media-body">
                        <h3 class="media-heading">Excellence</h3>
                        <p style="font-family: Constantia">
                            Abhorring mediocrity and
                            promoting excellence in teaching and service through a merit
                            based recruitment and nurturing of members of staff and
                            students for outstanding performance.
                        </p>
                    </div>
                </div>
              
            </div>
        </div>
    </div>
</section>

<!-- ====================================
——— WHITE SECTION
===================================== -->
<section class="whiteSection full-width clearfix">
    <div class="container">
        <div class="sectionTitle text-center">
            <h2>
                <span class="shape shape-left bg-color-4"></span>
                <span>Meet Our Moderators</span>
                <span class="shape shape-right bg-color-4"></span>
            </h2>
        </div>
        <div class="row">
            @*<div class="col-sm-3 col-xs-12">
                <div class="card">
                    <img src="/assets/img/team-1.jpg" alt="John"
                         style="width:100%">
                    <h3>Professor John Doe</h3>
                    <p class="title">CEO & Founder, Example</p>
                    <p>Harvard University</p>
                    <a href="#"><i class="fa fa-dribbble"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <p><button>Contact</button></p>
                </div>
            </div>*@
        </div>
    </div>
</section>
<script type="text/javascript">
    function myFunction() {
        var dots = document.getElementById("dots");
        var moreText = document.getElementById("more");
        var btnText = document.getElementById("myBtn");

        if (dots.style.display === "none") {
            dots.style.display = "inline";
            btnText.innerHTML = "Read more";
            btnText.style.color = "white";
            moreText.style.display = "none";
        } else {
            dots.style.display = "none";
            btnText.innerHTML = "Read less";
            btnText.style.color = "white";
            moreText.style.display = "inline";
        }
    }
</script>
