﻿@model TeachMyChild.ViewModels.ContactViewModel
@{
    ViewBag.Title = "Contact";
}
<section class="mainContent full-width clearfix conactSection">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-xs-12">
                <div class="media addressContent">
                    <span class="media-left bg-color-1" href="#">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                    </span>
                    <div class="media-body">
                        <h3 class="media-heading">Address:</h3>
                        <p>Blk 5D Close, Katampe St. Kubwa, FCT Abuja, Nigeria</p>
                        <p>222 Daniel Low Terrace, Staten Island, NYC USA</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-xs-12">
                <div class="media addressContent">
                    <span class="media-left bg-color-2" href="#">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                    </span>
                    <div class="media-body">
                        <h3 class="media-heading">Phone:</h3>
                        <p>+1 (862)-218-3354, +2348076357643  Or  +2348064134296</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-xs-12">
                <div class="media addressContent">
                    <span class="media-left bg-color-3" href="#">
                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                    </span>
                    <div class="media-body">
                        <h3 class="media-heading">Email:</h3>
                        <p>
                            <a href="mailto:info@teachmychildglobal.com">info@teachmychildglobal.com</a>  Or
                            <a href="mailto:support@teachmychildglobal.com">support@teachmychildglobal.com</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        @*<div class="row">
            <div class="col-xs-12">
                <div class="mapArea areaPadding">
                    <div id="map"></div>
                </div>
            </div>
        </div>*@
        
        <div class="row">
            <div class="col-xs-8 col-lg-offset-2">
                <div class="row">
                    <p>
                        <h3 class="text-lowercase text-info">
                            Do you have a question or suggestion for us, please fil in the below form and we will get back to you as soon as possible
                        </h3>
                    </p>

                </div>
                <div class="homeContactContent">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <div class="row">
                            @Html.ValidationSummary("", new { @class = "text-danger" })
                            <div class="col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <i class="fa fa-user"></i>
                                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control border-color-1 text-danger", @id = "exampleInputEmail1", @placeholder = "Name" })

                                    @*<input type="text" class="form-control border-color-1" id="exampleInputEmail1" placeholder="First name">*@
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control border-color-2", @placeholder = "Email Address" })
                                    @*<input type="text" class="form-control border-color-2" id="exampleInputEmail2" placeholder="Email address">*@
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                    @Html.TextBoxFor(m => m.Phone, new { @class = "form-control border-color-5", @placeholder = "Phone" })
                                    @*<input type="text" class="form-control border-color-5" id="exampleInputEmail3" placeholder="Phone">*@
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <i class="fa fa-book" aria-hidden="true"></i>
                                    @Html.TextBoxFor(m => m.Subject, new { @class = "form-control border-color-6", @placeholder = "Subject" })
                                    @*<input type="text" class="form-control border-color-6" id="exampleInputEmail4" placeholder="Subject">*@
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <i class="fa fa-comments" aria-hidden="true"></i>
                                    @Html.TextAreaFor(m => m.Body, new { @class = "form-control border-color-4", @placeholder = "Write a message" })
                                    @*<textarea class="form-control border-color-4" placeholder="Write message"></textarea>*@
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="formBtnArea">
                                    <button type="submit" class="btn btn-primary">Send Message</button>
                                </div>
                            </div>
                            <div>
                                <h2 class="text-info">@ViewBag.Msg</h2>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</section>
