﻿@model TeachMyChild.ViewModels.IndexViewModel
@{
    ViewBag.Title = "Home";
}
@section css {
    <link href="@Url.Content("~/assets/css/style.css")" rel="stylesheet" />
}

<section class="bannercontainer bannercontainerV1">
    <div class="fullscreenbanner-container">
        <div class="fullscreenbanner">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">

                    <div class="item active">
                        <img src="~/assets/img/home/slider/happy girl.PNG" alt="Happy girl" />
                        <div class="carousel-caption carousel-center">
                            <div class="slider-caption container">
                                <div class="tp-caption rs-caption-2 sft text-center" style="margin-top:5px">
                                    Get a Counsellor,<br />get a tutor...
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <img src="~/assets/img/home/slider/Jerryntutor.PNG" alt="Teacher" />
                        <div class="carousel-caption carousel-center">
                            <div class="slider-caption container">
                                <div class="tp-caption rs-caption-2 sft text-center" style="margin-top:5px">
                                    ...Making a child future brighter..<br />Join TMCG...
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <img src="~/assets/img/home/slider/Smilling teacher n student.PNG" alt="Teacher and student" />
                        <div class="carousel-caption carousel-center">
                            <div class="slider-caption container">
                                <div class="tp-caption rs-caption-2 sft text-center" style="margin-top:5px">
                                    Making a great different..
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</section>
<section class="mainContent full-width clearfix featureSection">
    <div class="container">
        <div class="sectionTitle text-center ">
            <h2 class="wow fadeInUp">

                <span>CHOOSE CLASSES FOR YOUR CHILD</span>
                <br>
                <div class="bottom-border">
                    <ul>
                        <li class="circle-border-bottom bgcolor1"></li>
                        <li class="straight-border-bottom bgcolor1"></li>
                        <li class="circle-border-bottom bgcolor1"></li>
                    </ul>
                </div>
            </h2>
        </div>

        <div class="row ">
            <div class="col-sm-6 col-lg-4 col-xs-12">
                <div class="media featuresContent wow fadeInUp">
                    <div class=" outer-circle-course border-color1">
                        <div class="inner-circle-course  border-color1">
                            <i class="fas fa-paint-brush fa-3x icon-color1" aria-hidden=" true"></i>
                        </div>
                    </div>
                    <br>
                    <h3 class="text-center  icon-color1">ART</h3>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 col-xs-12">
                <div class="media featuresContent wow fadeInUp">
                    <div class=" outer-circle-course border-color2">
                        <div class="inner-circle-course border-color2">
                            <i class="fas fa-balance-scale  fa-3x icon-color2" aria-hidden="true"></i>
                        </div>
                    </div>
                    <br>
                    <h3 class="text-center icon-color2">GOVERNMENT</h3>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 col-xs-12">
                <div class="media featuresContent wow fadeInUp">
                    <div class=" outer-circle-course border-color3">
                        <div class="inner-circle-course border-color3">
                            <i class="fas fa-calculator fa-3x icon-color3" aria-hidden="true"></i>
                        </div>
                    </div>
                    <br>
                    <h3 class="text-center icon-color3">MATHEMATICS</h3>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 col-xs-12">
                <div class="media featuresContent wow fadeInUp">
                    <div class=" outer-circle-course border-color4">
                        <div class="inner-circle-course border-color4">
                            <i class="fas fa-medkit fa-3x icon-color4" aria-hidden="true"></i>
                        </div>
                    </div>
                    <br>
                    <h3 class="text-center icon-color4">BIOLOGY</h3>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 col-xs-12">
                <div class="media featuresContent wow fadeInUp">
                    <div class=" outer-circle-course border-color6">
                        <div class="inner-circle-course border-color6">

                            <i class="fas fa-flask fa-3x icon-color6" aria-hidden="true"></i>
                        </div>
                    </div>
                    <br>
                    <h3 class="text-center icon-color6">PHYSICS</h3>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 col-xs-12">
                <div class="media featuresContent wow fadeInUp">
                    <div class=" outer-circle-course border-color5">
                        <div class="inner-circle-course border-color5">
                            <i class="fas fa-book fa-3x icon-color5" aria-hidden="true"></i>
                            <i class="fas fa-book fa-3x icon-color5" aria-hidden="true"></i>
                        </div>
                    </div>
                    <br>
                    <h3 class="text-center icon-color5">ENGLISH</h3>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="countUpSection">
    <div class="container">
        <div class="sectionTitle text-center ">
            <h2 class="wow fadeInUp icon-color2">

                <span>WHY CHOOSE US?</span>
                <br>
                <div class="bottom-border ">
                    <ul>
                        <li class="circle-border-bottom bgcolor2"></li>
                        <li class="straight-border-bottom bgcolor2"></li>
                        <li class="circle-border-bottom bgcolor2"></li>
                    </ul>
                </div>
            </h2>
        </div>

        <div class="row">
            <div class="col-sm-3 col-xs-12">
                <div class="wow fadeInUp">
                    <p class="icon-color2 ">
                        <i class="icon-color fas fa-check fa-2x"></i>Tutors are
                        thoroughly
                        selected
                    </p>
                </div>
            </div>
            <div class="col-sm-3 col-xs-12">
                <div class="wow fadeInUp">
                    <p class="icon-color3">
                        <i class=" icon-color far fa-credit-card fa-2x "></i>No
                        payements until satified
                    </p>
                </div>
            </div>
            <div class="col-sm-3 col-xs-12">
                <div class="wow fadeInUp">
                    <p class="icon-color4 ">
                        <i class=" icon-color fas fa-paper-plane fa-2x "></i>Easy
                        access
                        to learning
                    </p>
                </div>
            </div>
            <div class="col-sm-3 col-xs-12">
                <div class="wow fadeInUp">
                    <p class="icon-color6 ">
                        <i class="fa fa-sync fa-2x icon-color"></i>Flexible course
                        curriculum
                    </p>
                </div>
            </div>
        </div>
        <div class="text-center wow fadeInUp ">
            <h2 class="icon-color6 section-h2">The Number Says It All</h2>
        </div>

        <div class="row">
            <div class="col-md-4 col-xs-12">
                <div class="text-center wow fadeInUp">
                    <div class="counter icon-color3">179</div> <br>
                    <div class="counterInfo bg-color-1">Tutors</div>
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="text-center wow fadeInUp">
                    <div class="counter icon-color2">579</div> <br>
                    <div class="counterInfo bg-color-2">Courses</div>
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="text-center wow fadeInUp">
                    <div class="counter icon-color6">279</div> <br>
                    <div class="counterInfo bg-color-3">Members</div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="testimonial full-width clearfix">
    <div class="container">
        <div class="sectionTitle text-center ">
            <h2 class="wow fadeInUp icon-color3">

                <span>TESTIMONIALS</span>
                <br>
                <div class="bottom-border">
                    <ul>
                        <li class="circle-border-bottom bgcolor3"></li>
                        <li class="straight-border-bottom bgcolor3"></li>
                        <li class="circle-border-bottom bgcolor3"></li>
                    </ul>
                </div>
            </h2>
        </div>

        <div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <h4>
                        "This company is the best. I am so happy with the result!"
                        <br>

                    </h4>
                    <h6><span style="font-style:italic">Michael Roe, Vice President, Comment Box</span></h6>
                </div>
                <div class="item">
                    <h4>
                        "One word... WOW!!"
                        <br>

                    </h4>
                    <h6><span style="font-style:italic">John Doe, Salesman, Rep Inc</span></h6>
                </div>
                <div class="item">
                    <h4>
                        "Could I... BE any more happy with this company?"
                        <br>

                    </h4>
                    <h6><span style="font-style:italic">Chandler Bing, Actor, Friends Alot</span></h6>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="colorSection full-width clearfix bg-color-5 teamSection" id="ourTeam">
    <div class="container-fluid">
        <div class="sectionTitle text-center ">
            <h2 class="wow fadeInUp icon-color4">
                <span>LEARN FROM THE BEST</span>
                <br>
                <div class="bottom-border" style="margin-bottom:0">
                    <ul>
                        <li class="circle-border-bottom bgcolor4"></li>
                        <li class="straight-border-bottom bgcolor4"></li>
                        <li class="circle-border-bottom bgcolor4"></li>
                    </ul>
                </div>
            </h2>
        </div>
        <div id="myCarousel" class="carousel slide" data-ride="carousel" style="background-color:none;">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <div class="row">
                        @foreach (var tutor in Model.featuredTutors)
                        {
                            <div class="col-sm-3 col-xs-12">
                                <div class="teamContent">
                                    <div class="teamImage">
                                        <a class="media-left border-color-3" href=@Url.Action("Dashboard", "Tutor", new { id = tutor.UniqueName})>
                                            @if (String.IsNullOrEmpty(tutor.ProfileImageUri))
                                            {
                                                <img src=@Html.Raw(ViewBag.DefaultTutorProfileImgUri) alt="img" class="img-circle img-responsive" style="width:100%">
                                            }
                                            else
                                            {
                                                <img src=@Html.Raw(tutor.ProfileImageUri.TrimStart('~').Replace(" ", "%20")) alt="img" class="img-circle img-responsive" style="width:100%">
                                            }
                                        </a>

                                    </div>
                                    <div class="teamInfo">
                                        <h3><a href=@Url.Action("Dashboard", "Tutor", new { id = tutor.UniqueName})>@tutor.FullName</a></h3>
                                        @if (!String.IsNullOrEmpty(tutor.Subjects))
                                        {
                                            <p>Teaches : @tutor.Subjects</p>
                                        }

                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </div><

                @*<div class="item">
                        <div class="row">
                            <div class="col-sm-3 col-xs-12">
                                <div class="teamContent">
                                    <div class="teamImage">
                                        <img src="~/assets/img/male profile image.png" alt="img" class="img-circle" style="width:100%">
                                        <div class="maskingContent">
                                            <ul class="list-inline">
                                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                                <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                                <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="teamInfo">
                                        <h3><a href="#">Amanda Smith</a></h3>
                                        <p>English Teacher</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>*@
            </div>
        </div>
    </div>
</section>
