﻿@{
    Layout = null;
}

@model TeachMyChild.ViewModels.CourseCatModel
<div class="form-group row">
    <label>@Model.Name</label>
    @Html.HiddenFor(x => x.ID)
    @Html.HiddenFor(x => x.Name)
</div>

@for (int i = 0; i < Model.Courses.Count; i++)
{
    <div class="checkbox col-md-12" style="margin-left: 20px">
        @Html.HiddenFor(x => x.Courses[i].ID)
        @Html.HiddenFor(x => x.Courses[i].Name)
        @if (Model.Courses[i].Selected)
        {
            @Html.CheckBoxFor(x => x.Courses[i].Selected, new { @class = "checkedCourses", @onchange = "chkBoxChanged(this)" })
        }
        else
        {
            @Html.CheckBoxFor(x => x.Courses[i].Selected, new { @class="uncheckedCourses", @onchange = "chkBoxChanged(this)" })
        }
        @Html.LabelFor(x => x.Courses[i].Selected, Model.Courses[i].Name)
      
    </div>
   
}

