﻿@model IEnumerable<TeachMyChild.Core.Implementations.Course>

@{
    ViewBag.Title = "Index";
}



<section class="mainContent full-width clearfix">
    <div class="container">
       
        <h3>Available Course</h3>
        <div class="row">
            <div class="col-xs-12">
                @foreach (var item in Model)
                {
                    <div class="media courseList couresListPage" style="padding-top:5px; padding-bottom:5px">
                        <a class="media-left border-color-1" href="#" style="margin-top: 15px">
                             
                            @{
                                if (item.ImageUri == null)
                                {
                                    <img class="media-object" src="~/assets/img/course-1.jpg" alt="Image">
                                }
                                else
                                {
                                    <img class="media-object" src=@Html.Raw(item.ImageUri.TrimStart('~').Replace(" ","%20")) alt="Image">
                                }
                            }
                         
                        @*    <span class="sticker bg-color-1" style="margin-bottom:20px">&#8358;50 <h5 style="margin-left:5px; color: white"><b>/hr.</b></h5></span>*@

                        </a>
                        <div class="media-body" style="padding-left:10px">
                            <h3 class="media-heading"><a href="#" class="color-1">@Html.DisplayFor(modelItem => item.Description)</a></h3>
                            <p>@Html.DisplayFor(modelItem => item.Name)</p> 
                            <ul class="list-inline btn-yellow btnPart">
                                <li><a href='@Url.Action("Index", "Tutor")' class="btn btn-primary "> <i class="fa fa-pencil-square-o " aria-hidden="true"></i>Browse tutors</a></li>
                                @*<li><a href="course-single-left-sidebar.html" class="btn btn-link"><i class="fa fa-angle-double-right" aria-hidden="true"></i> More</a></li>*@
                            </ul>
                            <div class="btn btn-primary" style="margin-top:20px;">
                                <h4 style="padding:0px; color:white; margin:0 auto">&#8358;50 per Hour</h4>
                            </div>
                        
                        </div>
                    </div>
                }
              </div>
        </div>

        @*<div>
            <li style="list-style-type: none;"><a href="cart-page.html" class="btn btn-primary "><i class="fa fa-pencil-square-o " aria-hidden="true"></i>Browse Tutors</a></li>

        </div>*@

        <div class="pagerArea text-center">
            <ul class="pager">
                <li class="prev"><a href="#"><i class="fa fa-arrow-left" aria-hidden="true"></i>Prev</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">...</a></li>
                <li><a href="#">15</a></li>
                <li class="next"><a href="#">Next<i class="fa fa-arrow-right" aria-hidden="true"></i></a></li>
            </ul>
        </div>

    </div>

    @*<div class="container">
        <h3>available Course</h3>
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateCreated)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateModified)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateCreated)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateModified)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                    </td>
                </tr>
            }

        </table>
        </div>*@
</section>
