﻿
@{
    ViewBag.Title = "NotFound";
}

<!-- MAIN SECTION -->
<section class="mainContent full-width clearfix">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-1 col-xs-12">
                <div class="errorMsg">
                    <img src="~/assets/img/error.png" alt="error image" class="img-responsive">
                </div>
            </div>
            <div class="col-sm-6 col-xs-12">
                <div class="errorInfo">
                    <h3>Oops!</h3>
                    <p>We are sorry, An internal server error has occured and a support person is currently looking into it.</p>
                    <p> If this error takes longer than neccessary, we appreciate a feedback through @Html.ActionLink("here", "Contact", "Home")</p>

                    @*https://stackoverflow.com/a/13905859/7162741*@
                    @if (Model != null && HttpContext.Current.IsDebuggingEnabled)
                    {
                        <div>
                            <p>
                                <b>Exception:</b> @Model.Exception.Message<br />
                                <b>Controller:</b> @Model.ControllerName<br />
                                <b>Action:</b> @Model.ActionName
                            </p>
                            <div style="overflow:scroll">
                                <pre>
                    @Model.Exception.StackTrace
                </pre>
                            </div>
                        </div>
                    }


                    <form action="#" method="POST" role="form" class="homeContactContent errorSpace">
                        <div class="formBtnArea pull-left">
                            @Html.ActionLink("Return to Homepage", "Index", "Home")
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


