﻿@model TeachMyChild.ViewModels.TutorInboxModel
@{
    ViewBag.Title = "Inbox";
}

@section css {
    <link href="@Url.Content("~/assets/css/chat.css")" rel="stylesheet">

    <link href="@Url.Content("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")" rel="stylesheet">
}

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.6.8-fix/jquery.nicescroll.min.js"></script>
    <script src="~/assets/js/chat.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
}


<!-- ====================================
——— MAIN SECTION
===================================== -->
<section class="mainContent full-width clearfix">
    <div class="container">
        
        <div class="row" style="margin-top: 10px">
            <div class="panel-heading bg-color-3 border-color-3">
                <h3 class="panel-title" style="color:white;" id="title_view">Inbox Messages</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-3 col-xs-12">

                    </div>
                    <div class="col-sm-2 card" style="margin-bottom:10px;margin-right:10px; width:150px; float:right">
                        <div class="teachersPhoto">
                            <img src="~/assets/img/team-2.jpg" alt="image"
                                 class="img-circle img-responsive" style="width:30px; height:30px; float:left">
                            <div style="float:right">
                                <h6 style="margin:0">@ViewBag.UserBeingChattedWith</h6>
                                <p style="margin:0;font-size:xx-small">Last seen:12hrs ago</p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="content bootstrap snippets" style="margin-right:10px">
                    <div class="row row-broken">
                        <div class="col-sm-3 col-xs-12">
                            <div class="col-inside-lg decor-default chat"
                                 style="overflow: auto; outline: none;"
                                 tabindex="5000">


                                <div class="chat-users">
                                    @foreach (var user in Model.UsersInChat)
                                    {
                                        <div class="user" onclick="loadChatWith(@user.Id)">
                                            <div class="avatar">
                                                <img src=@Html.Raw(user.AvatarUri.Replace(" ", "%20").TrimStart('~')) alt="image"
                                                     style="width:40px; height:40px;">

                                                <div class="status @user.Status"></div>
                                            </div>
                                            <div class="name">@user.UserName</div>
                                            <div class="mood">@user.Notification</div>
                                        </div>
                                    }

                                </div>
                            </div>
                        </div>
                        <div class="col-sm-9 col-xs-12 chat" style="overflow: auto;
                    outline: none; background-color: honeydew" tabindex="5001">
                            <div class="col-inside-lg">
                                <div class="chat-body">
                                    @Html.Partial("_ChatBody", Model.ChatBody)

                                

                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="content" style="margin:0px">
                    <div class="col-sm-9 col-xs-12" style="float:right">
                        <div class="chat-body">
                            <div class="answer-add">
                                <input placeholder="Write a message" id="txtMessage">
                                @*<span class="answer-btn answer-btn-1"></span>*@
                                <span class="answer-btn answer-btn-2" onclick="SendMessgae(@Model.ChatBody.TheUserId, @Model.ChatBody.ChatPartnerId)"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<script src="~/assets/js/jquery-min.js"></script>
<script type="text/javascript">
    function loadChatWith() {
        alert('chat with this user wil be loaded');
        $.ajax({

        })
    }

    function SendMessgae(fromId, toId) {
        var msg = $("#txtMessage").val();
        if (msg) {
            alert('will send message');
        }
        else {
            // do nothing
            alert('no message');
        }
    }
</script>



