﻿
@{
    ViewBag.Title = "Dashboard";
}
<link href="~/assets/css/dashboard.css" rel="stylesheet" />

<section class="mainContent full-width clearfix"></section>

<section id="container">
    <!--header start-->
    <header class="header white-bg">
        <div class="sidebar-toggle-box" onclick="showNavBar()">
            <i class="fa fa-bars"></i>
        </div>

        <div class="nav notify-row" id="top_menu">
            <!--  notification start -->
            <ul class="nav top-menu">

                <!-- settings end -->
                <!-- inbox dropdown start-->
                <li id="header_inbox_bar" class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <i class="fa fa-envelope-o"></i>
                        <span class="badge badge-danger">5</span>
                    </a>

                </li>
                <!-- inbox dropdown end -->
                <!-- notification dropdown start-->
                <li id="header_notification_bar" class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <i class="fa fa-bell-o"></i>
                        <span class="badge badge-warning">7</span>
                    </a>

                </li>

            </ul>

        </div>
        <div class="top-nav ">
            <!--search & user info start-->
            <ul class="nav pull-right top-menu">

                <!-- user login dropdown start-->
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <img alt="" src="~/assets/img/team-1.jpg">
                        <span class="username">John Doe</span>

                    </a>
                </li>
                <li class="toggle-right" onclick="showRightBar()">
                    <i class="fa  fa-bars "></i>
                </li>

            </ul>

        </div>
    </header>
    <!--header end-->
    <!--sidebar start-->
    <aside>
        <div id="sidebar" class="nav-collapse ">
            <!-- sidebar menu start-->
            <ul class="sidebar-menu" id="nav-accordion">
                <li>
                    <a class="active" href="#">
                        <i class="fa fa-dashboard"></i>
                        <span>Dashboard</span>
                    </a>
                </li>

                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-laptop"></i>
                        <span>Ongoing Tutorial</span>
                    </a>

                </li>

                <li class="sub-menu">
                    <a href=@Url.Action("Index","Tutorials")>
                        <i class="fa fa-book"></i>
                        <span>View Posted Requests</span>
                    </a>

                </li>

                <li class="sub-menu">
                    <a href=@Url.Action("NewRequest","Tutorials")>
                        <i class="fa fa-cogs"></i>
                        <span>Post New Requests</span>
                    </a>

                </li>
                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-tasks"></i>
                        <span>Featured Tutorials</span>
                    </a>

                </li>

                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class=" fa fa-user"></i>
                        <span>Profile</span>
                    </a>

                </li>


            </ul>
            <!-- sidebar menu end-->
        </div>
    </aside>


    <div class="clearfix"></div>
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
            <!--state overview start-->
            <div class="row state-overview">
                <div class="col-sm-4">
                    <section class="tiles">
                        <div class="symbol terques">
                            <i class="fa fa-user"></i>
                        </div>
                        <div class="value">
                            <h1 class="counter">
                                29
                            </h1>
                            <p>Tutors</p>
                        </div>
                    </section>
                </div>
                <div class="col-sm-4 ">
                    <section class="tiles">
                        <div class="symbol red">
                            <i class="fa fa-book"></i>
                        </div>
                        <div class="value">
                            <h1 class="counter">
                                20
                            </h1>
                            <p>Subject</p>
                        </div>
                    </section>
                </div>
                <div class="col-sm-4">
                    <section class="tiles">
                        <div class="symbol yellow">
                            <i class="fa fa-sign-out"></i>
                        </div>
                        <div class="value">
                            <h1 class="counter">
                                17
                            </h1>
                            <p>Requests</p>
                        </div>
                    </section>
                </div>

            </div>
            <div class="col-sm-6">
                <canvas id="myChart" width="300" height="300"></canvas>

            </div>



        </section>
    </section>
    <!--main content end-->
    <!-- Right Slidebar start -->
    <div id="sidebar-right" class="nav-collapse ">
        <div class="favorite-tutors">

            <h4>favorite tutors</h4>
            <div class="tutor">
                <img src="~/assets/img/team-3.jpg" alt="">
                <div class="details">
                    <p>Jane Doe</p>
                    <p>Maths,English</p>
                </div>
            </div>
            <div class="tutor">
                <img src="~/assets/img/team-3.jpg" alt="">
                <div class="details">
                    <p>Jane Doe</p>
                    <p>Maths,English</p>
                </div>
            </div>

        </div>

        <div class="suggestions">
            <h4>suggestions</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio reprehenderit esse
                assumenda non, porro labore! Molestias quasi facilis, sed temporibus deleniti explicabo
                rerum facere optio perferendis dignissimos quos tempore exercitationem.
            </p>
        </div>
        <div class="reviews">
            <h4>reviews</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio reprehenderit esse
                assumenda non, porro labore! .
            </p>
            <p class="author">-- <span>Jane Doe</span> </p>
        </div>

    </div>
    <!-- Right Slidebar end -->


</section>





<style>
    .checked {
        color: orange;
    }
</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
<script src="~/assets/js/dashboard.js"></script>














@*<section class="mainContent full-width clearfix">
    <div class="container">
        <div class="row">
            <h2>Dashboard</h2>
            <div>
                Notification, message and Bids tabs
            </div>
            <div class="row">
                <label>Full name</label>
                <label>Address</label>
                <label>Rating *****</label>
                <label>N50,000 spent</label> on <label>37 completed projects</label>
                
            </div>
            <div class="pull-right">
                Place this at side bar
                <p>Help/Log complain/Sugestion</p>
                <p> Reviews</p>
                <p> Fav Tutors</p>
            </div>
            <div>
                ***** Links*********
                <br />
                @Html.ActionLink("Post New request", "NewRequest", "Tutorials", null, new { @class="btn btn-primary"})
                @Html.ActionLink("View all Posted requests", "Index", "Tutorials", null, new { @class = "btn btn-info" })
            </div>

            <div class="row">
                <h2>Ongoing Tutorials</h2>
            </div>

            <div class="row">
                <h2>Featured tutors</h2>
            </div>
            </div>
        </div>
    </section>*@

            