﻿@model  TeachMyChild.ViewModels.ChatBodyModel
    @if (Model.Messages != null && Model.Messages.Any())
    {
        foreach (var message in Model.Messages)
        {
            if (message.FromId == Model.TheUserId)
            {
                <div class="answer right">
                    <div class="avatar">
                        <img src="~/assets/img/team-1.jpg" alt="image"
                             style="width:40px; height:40px;">
                        <div class="status offline"></div>
                    </div>
                    <div class="name">Alexander Herthic</div>
                    <div class="text">
                        @message.Content
                    </div>
                    <div class="time">5 min ago</div>
                </div>
            }
            else
            {
                <div class="answer left">
                    <div class="avatar">
                        <img src="~/assets/img/team-2.jpg" alt="image"
                             style="width:40px; height:40px;">
                        <div class="status offline"></div>
                    </div>
                    <div class="name">Alexander Herthic</div>
                    <div class="text">
                        @message.Content
                    </div>
                    <div class="time">5 min ago</div>
                </div>
            }

        }
    }


