﻿@model TeachMyChild.ViewModels.WorkExperience
<tr class="experience">
    @using (Html.BeginCollectionItem("WorkExperiences"))
    {
        <td>1</td>
                    <td>
                        @Html.HiddenFor(m => m.CompanyName)
                        @Html.DisplayFor(m => m.CompanyName)
                    </td>
                    <td>
                        @Html.HiddenFor(m => m.JobTitle)
                        @Html.DisplayFor(m => m.JobTitle)
                    </td>
                    <td>
                        @Html.HiddenFor(m => m.Description)
                        @Html.DisplayFor(m => m.Description)
                    </td>
                    <td>
                        @Html.HiddenFor(m => m.StartDate)
                        @Html.DisplayFor(m => m.StartDate)
                    </td>
        if (Model.StillWorksHere)
        {
            <td>
                Present
                @Html.HiddenFor(m => m.StillWorksHere)
                @Html.HiddenFor(m => m.EndDate)
            </td>

        }
        else
        {
            <td>
                @Html.DisplayFor(m => m.EndDate)
                @Html.HiddenFor(m => m.StillWorksHere)
                @Html.HiddenFor(m => m.EndDate)
            </td>
        }
        <td style="width:100px;text-align:center; padding:5px">
            <button class="delete btn btn-primary btn-xs my-xs-btn" type="button" id="deleteExp" onclick="deleteExpRow(this)">
                <span class="glyphicon glyphicon-trash"></span> Delete
            </button>
        </td>
    }
</tr>

