﻿@model TeachMyChild.ViewModels.NonVideoFile

@using (Html.BeginCollectionItem("NonVidFiles"))
{
    
        <tr style="font-size:12px">
            <td> 1 </td>
            <td class="docType"> @Model.DocumentType @Html.HiddenFor(m => m.DocumentType) </td>
            <td> @Model.FileName @Html.HiddenFor(m => m.FileName)</td>
            <td style="width:50px;text-align:center; padding:5px">
                <button class="delete btn btn-primary btn-xs my-xs-btn glyphicon glyphicon-trash" style="width:60px;" type="button" id="btnDelete">  </button>
            </td>
        </tr>
   
 
}
