﻿@model TeachMyChild.ViewModels.Education
@using (Html.BeginCollectionItem("table_edu"))
{
    <tr style="font-size:12px">       
        <td>
            @Model.InstitutionName
        </td>
        <td>
           @Model.Concentration
        </td>
        <td>
            @Model.DegreeAwarded
        </td>
        <td>
            @Html.DisplayFor(m => m.StartDate)
        </td>
        @if (Model.StillStudiesHere)
        {
            <td>Present</td>
        }
        else
        {
            <td>
                @Html.DisplayFor(m => m.EndDate)
                @Html.HiddenFor(m => m.StillStudiesHere)
            </td>
        }
        <td style="width:100px;text-align:center; padding:5px">
            <button class="deleteEdu btn btn-primary btn-xs my-xs-btn" type="button" onclick="deleteEduRow(this)">
                <span class="glyphicon glyphicon-trash"></span> Delete
            </button>
        </td>
    </tr>


}
