﻿@model TeachMyChild.ViewModels.Education
<tr class="education">
    @**Educations below asin Model.Educations. important!*@
    @using (Html.BeginCollectionItem("Educations"))     
    {
        <td>1</td>
        <td>
            @Html.HiddenFor(m => m.InstitutionName)
            @Html.DisplayFor(m => m.InstitutionName)
        </td>
                    <td>
                        @Html.HiddenFor(m => m.Concentration)
                        @Html.DisplayFor(m => m.Concentration)
                    </td>
                    <td>
                        @Html.HiddenFor(m => m.DegreeAwarded)
                        @Html.DisplayFor(m => m.DegreeAwarded)
                    </td>
                    <td>
                        @Html.HiddenFor(m => m.StartDate)
                        @Html.DisplayFor(m => m.StartDate)
                    </td>
        if (Model.StillStudiesHere)
        {
            <td>
                Present
                @Html.HiddenFor(m => m.StillStudiesHere)
                @Html.HiddenFor(m => m.EndDate)
            </td>

        }
        else
        {
            <td>
                <label>@Model.EndDate.ToString("D")</label>
                @Html.HiddenFor(m => m.StillStudiesHere)
                @Html.HiddenFor(m => m.EndDate)
            </td>
        }
        <td style="width:100px;text-align:center; padding:5px">
            <button class="deleteEdu btn btn-primary btn-xs my-xs-btn" type="button" onclick="deleteEduRow(this)">
                <span class="glyphicon glyphicon-trash"></span> Delete
            </button>
        </td>   
    }
</tr>

