﻿@model TeachMyChild.ViewModels.ProfileVM
@{
    ViewBag.Title = "Dashboard";
}




<!--====================================
   ——— BODY SECTION
   ===================================== -->



<section class="mainContent tutor-profile  full-width clearfix">
    <div class="container tutor-profile-container">
        <div class="row">
            <div class="col-sm-3  image-details">
                <img src=@Html.Raw(Model.ProfileImageImgUri.Replace(" ", "%20").TrimStart('~')) alt="Tutor Image">
                   @if ((object)ViewBag.ViewerType == "self")
                  { 
                    @Html.ActionLink("Complete Profile", (string)ViewBag.SetupPage, new { controller = "Tutor" }, new { @class = "btn btn-success", @type = "button" })
                  }
                  else if ((object)ViewBag.ViewerType == "parent")
                  {
                        @Html.ActionLink("Message", "Message", new { id = "userId" }, new { @class = "btn btn-success", @type = "button" })
                  }               
                <p>City: <span>@Model.City</span></p>
                <p>State: <span>@Model.State</span></p>
                <div class="tutor-social-media">
                    <a href="#" class="tutor-facebook"><i class=" fa-2x fa fa-facebook-f"></i></a>
                    <a href=" #" class="tutor-twitter"><i class="fa fa-2x fa-twitter"></i></a>
                    <a href="#" class="tutor-linkedin"><i class="fa  fa-2x fa-linkedin"></i></a>
                </div>
            </div>
            <div class="col-sm-6 bio-details">
                <div class="header">
                    <h1>@Model.FullName</h1>
                    <div class="pricing">                        
                        <img src="~/assets/img/Nigerian-Naira.png" alt="Naira Symbol" />
                        <h3>@Model.HourlyRate/hr</h3>
                    </div>

                </div>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <p>
                    @Model.About
                </p>
                <div class="education-details details">
                    <h3>EDUCATION</h3>
                    <ul>
                        @foreach (var edu in Model.Educations)
                        {
                            <li>
                                @edu
                            </li>
                        }
                    </ul>
                </div>
                <div class="subject-details details">
                    <h3>SUBJECT</h3>
                    <ul>
                        @foreach (var course in Model.Courses)
                        {
                            <li>
                                @course
                            </li>
                        }
                    </ul>
                </div>
                <div class="images details">
                    <h3>PHOTOS & VIDEOS</h3>
                    <div class="tutor-images">
                        <img src="~/assets/img/team-1.jpg" alt="">
                        <img src="~/assets/img/team-1.jpg" alt="">
                        <img src="~/assets/img/team-1.jpg" alt="">
                    </div>
                </div>
                <div class="reviews details">
                    <h3>REVIEWS</h3>
                    <div class="text-area">
                        <textarea rows="5" placeholder="Write a review"></textarea>
                        <button>
                            SUBMIT
                        </button>
                    </div>

                    <div class="posted-reviews">
                        <div class="header">
                            <h4>JOHN DOE</h4>
                            <p>Oct 15,2018</p>
                        </div>
                        <div class="header">
                            <h4>English</h4>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                        <p>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo incidunt magnam
                            neque
                            nesciunt nam labore, temporibus minima perferendis saepe officia harum
                            provident
                            tempore rem veniam aperiam. Quo tenetur unde architecto.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 featured-details">
                <div class="header">
                    <h3>FEATURED TUTORS</h3>
                </div>
                <div class="featured-tutors">
                    <img class="tutor-img" src="~/assets/img/team-1.jpg" alt="Featured Tutor">
                    <div class="details">
                        <h4>JOHN DOE</h4>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>

                        </div>
                        <div class="subject">

                            <i class="fa fa-book"></i>
                            <p>English</p>

                        </div>
                    </div>
                    <div class="pricing">
                        <img src="~/assets/img/Nigerian-Naira.png" alt="" class="naira-img">
                        <p>550/hr</p>
                    </div>

                </div>
                <div class="featured-tutors">
                    <img class="tutor-img" src="~/assets/img/team-1.jpg" alt="Featured Tutor">
                    <div class="details">
                        <h4>JOHN DOE</h4>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>

                        </div>
                        <div class="subject">

                            <i class="fa fa-book"></i>
                            <p>English</p>

                        </div>
                    </div>
                    <div class="pricing">
                        <img src="~/assets/img/Nigerian-Naira.png" alt="" class="naira-img">
                        <p>550/hr</p>
                    </div>

                </div>

                <div class="footer">
                    <button>SEE MORE TUTORS</button>
                </div>
            </div>
        </div>
    </div>
  

</section>


<style>
    .checked {
        color: orange;
    }
</style>
<link href="~/assets/css/tutor-profile.css" rel="stylesheet" />