﻿@model  IEnumerable<TeachMyChild.Core.Implementations.TutorProfile>

<section class="mainContent full-width clearfix">
    <div class="container">
        <div class="input-group searchArea">
            <span class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></span>
            <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" placeholder="Search something...">
            <button type="submit" class="input-group-addon button" id="basic-addon21">Search</button>
        </div>
        <div class="resultInfo">
            <h3>Search results</h3>
        </div>

        <div class="row">
            <div class="col-xs-12">

                @foreach (var tutor in Model)
                {
                    <div class="media courseList couresListPage">
                        <a class="media-left border-color-3" href=@Url.Action("Dashboard", "Tutor", new { id = tutor.ProfileUniqueName})>
                            @{
                                if (String.IsNullOrEmpty(tutor.ProfileImageUri))
                                {
                                    <img style="width:270px; height:230px;" class="media-object" src=@Html.Raw(ViewBag.DefaultTutorProfileImgUri) alt="Image">
                                }
                                else
                                {
                                    <img style="width:270px; height:230px;" class="media-object" src=@Html.Raw(tutor.ProfileImageUri.TrimStart('~').Replace(" ", "%20")) alt="Image">
                                }
                            }
                            
                            <span class="sticker bg-color-3">&#8358; <p style="color:blue; font-size:medium">@tutor.HourlyRate</p> </span>
                        </a>
                        <div class="media-body">
                            <h3 class="media-heading"><a href="#" class="color-3">@tutor.LastName @tutor.FirstName</a></h3>
                            <ul class="list-inline">
                                <li><i class="fa fa-location-arrow" aria-hidden="true"></i>@tutor.City, @tutor.State</li>
                                @if (tutor.Courses == null || tutor.Courses.Count < 1)
                                {
                                    <li><i class="fa fa-clock-o" aria-hidden="true"></i>Some courses</li>
                                }
                                else
                                {
                                    <li  class="color-4"><i class="fa fa-file-text-o" aria-hidden="true"></i>@String.Join(", ",tutor.Courses.Select(c => c.Name))</li>
                                }

                            </ul>
                            <p>@tutor.About.</p>
                            <ul class="list-inline btn-yellow btnPart">
                                <li> <a href=@Url.Action("Inbox", "Tutor", new { userToMsgId = tutor.Account.Id}) class="btn btn-primary "><i class="fa fa-envelope " aria-hidden="true"></i>Message</a></li>
                                <li> <a href=@Url.Action("Dashboard", "Tutor", new { id = tutor.Account.ProfileUniqueName}) class="btn btn-link"><i class="fa fa-angle-double-right" aria-hidden="true"></i> More</a></li>
                            </ul>
                        </div>
                    </div>
                }
                
            
            </div>
        </div>

        <div class="pagerArea text-center">
            <ul class="pager">
                <li class="prev"><a href="#"><i class="fa fa-arrow-left" aria-hidden="true"></i>Prev</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">...</a></li>
                <li><a href="#">15</a></li>
                <li class="next"><a href="#">Next<i class="fa fa-arrow-right" aria-hidden="true"></i></a></li>
            </ul>
        </div>
    </div>
</section>

