﻿@model TeachMyChild.ViewModels.DashboardViewModel
@{
    ViewBag.Title = "MyDashBoard";
}

<section class="pageTitleSection mainContent full-width clearfix" style="padding:10px">
    <div class="container">
        <div class="pageTitleInfo">
            <div class="row">
                <div class="col-sm-3" style="margin:0 auto; width: 100%">
                    <div class="teachersPhoto">
                        <img src=@Html.Raw(Model.ProfileImageUri.Replace(" ", "%20").TrimStart('~')) alt="image"
                             class="img-circle img-responsive" style="width:70px; height:
                    70px; margin: 0 auto">
                        <h3 style="color:white; margin: auto">@Model.FullName</h3>
                        <h5 style="color:white;; margin: auto">@Model.Email</h5>
                        <h5 style="color:white;; margin: auto">Join: @Model.MonthJoined @Model.YearJoined</h5>
                    </div>
                </div>
                <div class="col-sm-2" style="margin: 0 auto;width: 100%;">
                    @for (int i = 0; i < Model.AverageRating; i++)
                    {
                        <i class="fa fa-star"></i>
                    }                    
                    <h5 style="color:white">Level One Tutor</h5>
                </div>
                <div class="col-sm-12">
                    <ul class="nav nav-pills" style="margin-top:20px; width: 100%;">
                        <div style="margin: 0 auto">
                            <li>
                                <div class="badge">
                                    <h2>@Model.CompletedTutorials</h2>
                                </div>
                                <h5 style="color:white; margin-top: 2px">
                                    Completed Tutorials
                                </h5>
                            </li>
                            <li>
                                <div class="badge">
                                    @if (Model.OngoingTutorials == null)
                                    {
                                        <h2>0</h2>
                                    }
                                    else
                                    {
                                        <h2>@Model.OngoingTutorials.Count</h2>
                                    }                                 
                                </div>
                                <h5 style="color:white ; margin-top: 2px">
                                    Ongoing Tutorials
                                </h5>
                            </li>
                            <li>
                                <div class="badge">
                                    <h2>NGN @Model.TotalEarnings</h2>
                                </div>
                                <h5 style="color:white ; margin-top: 2px">
                                    LifeTime Earnings
                                </h5>
                            </li>

                            <li>
                                <div class="badge">
                                    <h2>NGN @Model.AvailableToWithdraw</h2>
                                </div>
                                <h5 style="color:white ; margin-top: 2px">
                                    Available to Withdraw
                                </h5>
                            </li>
                        </div>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ====================================
——— MAIN SECTION
===================================== -->
<section class="mainContent full-width clearfix">
    <div class="container">


        <div class="row center">
            <ul class="nav nav-pills" role="tablist">
                <li class="active">@Html.ActionLink("Dashboard", "MyDashBoard", "Tutor")</li> 
                <li>
                    <a href="@Url.Action("Inbox", "Tutor")">Inbox
                        <span class="badge">7</span></a>
                </li>  
                <li>
                    <a href="@Url.Action("Notification", "Tutor")">
                        Notification
                        <span class="badge">7</span>
                    </a>
                </li>  
            
                <li>
                    <a href="@Url.Action("Withdraw", "Tutor")">
                       Withdraw
                        <span class="badge">NGN1200</span>
                    </a>
                </li>    
                <li>@Html.ActionLink("Profile", "Dashboard", "Tutor", routeValues: new { id = (object)ViewBag.userId }, htmlAttributes: new { })</li> 
            </ul>
        </div>


        <div class="row" style="margin-top: 10px">
            <div class="panel-heading bg-color-3 border-color-3">
                <h3 class="panel-title" style="color:white" id="title_view">Dashboard</h3>
            </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3 col-md-push-9 col-sm-5 col-sm-push-7 col-xs-12">
                            <aside>
                                <div class="panel panel-default courseSidebar">
                                    <div class="panel-heading bg-color-1 border-color-1">
                                        <h3 class="panel-title">Recent reviews</h3>
                                    </div>
                                    <div class="panel-body">
                                        <ul class="list-unstyled postLink">
                                          
                                            @foreach (var review in Model.Reviews)
                                            {
                                                <li>
                                                    <div class="media">
                                                        <div class="media-left">
                                                            <img src=@Html.Raw(review.ReviewerImageUri) alt="image" class="img-circle" style="width:70px; height:
                                            70px;">
                                                        </div>
                                                        <div class="media-body">
                                                            <h5 class="media-list"><a href="single-blog.html">@review.TextContent</a></h5>
                                                            @for (int i = 0; i < review.Rating; i++)
                                                            {
                                                                <i class="fa fa-star"></i>
                                                            }
                                                       
                                                        </div>
                                                    </div>
                                                </li>
                                            }
                                             
                                            

                                        </ul>
                                    </div>
                                </div>
                                <div class="coursesCounter">
                                    <div class="counterInner">
                                        <h3>Your Next Tutorial Start In</h3>
                                        <div class="coursesCountStart clearfix">
                                            <div id="courseTimer" class="courseCountTimer">

                                            </div>
                                        </div>
                                        <a href="#" class="btn btn-primary">View details</a>
                                    </div>
                                </div>
                            </aside>
                         </div>
                        <div class="col-md-9 col-md-pull-3 col-sm-7 col-sm-pull-5 col-xs-12" id="dashboard_view">
                          
                                <div class="panel-heading bg-color-1 border-color-1">
                                    <h4 class="panel-title">Ongoing tutorials</h4>
                                </div>
                            @if (Model.OngoingTutorials != null)
                            {
                                foreach (var tutorial in Model.OngoingTutorials)
                                {
                                    <div class="media courseList couresListPage">
                                        <a class="media-left border-color-1"
                                           href="course-single-left-sidebar.html">
                                            <img class="media-object"
                                                 src="~/assets/img/course-1.jpg"
                                                 alt="Image">
                                            <span class="sticker bg-color-1">NGN1000</span>
                                        </a>
                                        <div class="media-body">
                                            <h3 class="media-heading">
                                                <a href="course-single-left-sidebar.html"
                                                   class="color-1">@tutorial.Poster.LastName @tutorial.Poster.FirstName</a>
                                            </h3>
                                            <ul class="list-inline">
                                                <li><i class="fa fa-location-arrow"></i>@tutorial.City, @tutorial.State</li>
                                                <li>@tutorial.NumberOfHoursInADay hrs per day</li>
                                                <li>@tutorial.NumberOfStudents Students</li>
                                            </ul>
                                            <p>
                                                They must explain to you how all this mistaken idea
                                                of denouncing pleasure and praising pain was born
                                                and I will give you a complete account of the
                                                system, and expound the actual teachings of the
                                                great explorer.
                                            </p>
                                            <ul class="list-inline btn-yellow btnPart">
                                                <li>
                                                    <a href="course-single-left-sidebar.html"
                                                       class="btn btn-link">
                                                        <i class="fa
                                  fa-angle-double-right" aria-hidden="true"></i>
                                                        More
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                }
                            }
                           
                                
                                   
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



