﻿@model TeachMyChild.ViewModels.TutorCourseSelectionVM



@{
    ViewBag.Title = "Step3";
}

<section class="mainContent full-width clearfix">
    <div class="container">
        <div class="row center" style="margin-bottom: 20px">
            <ul class="nav nav-pills" role="tablist">
                <li>@Html.ActionLink("Dashboard", "MyDashBoard", "Tutor")</li>
                <li>
                    <a href="@Url.Action("step1", "Tutor")">
                        Basic Details
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("step2", "Tutor")">
                        Experience
                    </a>
                </li>

                <li class="active">
                    <a href="@Url.Action("Step3", "Tutor")">
                        Select courses
                    </a>
                </li>
                <li>@Html.ActionLink("Documents", "Step4", "Tutor", routeValues: new { id = (object)ViewBag.userId }, htmlAttributes: new { })</li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-9 col-sm-8 col-xs-12 block">
                <div class="panel panel-default formPanel">
                    <div class="panel-heading bg-color-3 border-color-3">
                        <h3 class="panel-title">Courses Selection<span style="float:right">3 of 4</span></h3>
                    </div>
                    <div class="panel-body">
                        <div style="margin:20px">
                            
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary()                                
                                <div class="form-group">
                                    <h5 style="margin-top:2px; padding-bottom:5px">Please set your proposed Hourly rate</h5>
                                    @Html.LabelFor(m => m.HourlyRate)
                                    @Html.TextBoxFor(m => m.HourlyRate, new { @class="form-control"})
                                </div>
                                <h5 style="margin-top:2px; padding-bottom:5px;padding-top:20px">Please select 5 courses you are most comfortable with</h5>
                                @Html.EditorFor(x => x.CourseCatModels)

                                <div class="col-md-12" style="margin-top:5px">
                                    <input type="submit" class="btn btn-danger btn-sm" style="width:100px" name="action" value="Previous" />
                                    <input type="submit" class="btn btn-danger btn-sm pull-right" style="width:100px" name="action" value="Next" />
                                </div>                              
                            }
                           
                               
                         
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</section>


<script>
    var preValue = "";
    function selectCategory(val) {
        if (preValue != "") {
            var preCourseValue = document.getElementById(preValue);
            preCourseValue.style.display = 'none';   // Show
        }
        var selectedText = val;
        var courseValue = document.getElementById(val);
        courseValue.style.display = 'inline-block';   // Show

    }
    function clickSelect(val) {
        var selectedText = val;
        var courseValue = document.getElementById(val);
        if (val != "") {
            preValue = val;
        }
    }
    function checkClick(val) {
        // Get the checkbox
        var checkBox = document.getElementById(val);
        var text = document.getElementById("selectCourse");
        if (checkBox.checked == true) {
            text.style.display = "block";
            var node = document.createElement("li");
            node.id = val+"child";
            var textnode = document.createTextNode(checkBox.value);
            node.appendChild(textnode);
            document.getElementById("courseList").appendChild(node);
        }
        else {
            var elem = document.getElementById(val+"child");
            elem.parentNode.removeChild(elem);
            if ($('#courseList li').length == 0) {
                text.style.display = "none";
            }
        }
      
    }
</script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/assets/js/teaching-experience.js"></script>

