﻿@model TeachMyChild.ViewModels.ProfileBasics

@{
    ViewBag.Title = "Create";
}



<section class="mainContent full-width clearfix">
    <div class="container">

        <div class="row center" style="margin-bottom: 20px">
            <ul class="nav nav-pills" role="tablist">
                <li>@Html.ActionLink("Dashboard", "MyDashBoard", "Tutor")</li>
                <li class="active">
                    <a href="@Url.Action("step1", "Tutor")">
                        Basic Details
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("step2", "Tutor")">
                        Experience
                    </a>
                </li>

                <li>
                    <a href="@Url.Action("Step3", "Tutor")">
                        Select courses
                    </a>
                </li>
                <li>@Html.ActionLink("Documents", "Step4", "Tutor", routeValues: new { id = (object)ViewBag.userId }, htmlAttributes: new { })</li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-9 col-sm-8 col-xs-12 block">
                <div class="panel panel-default formPanel">
                    <div class="panel-heading bg-color-3 border-color-3">
                        <h3 class="panel-title">Set up your basic information <span style="float:right">1 of 4</span></h3>
                    </div>
                    <div class="panel-body">
                        @using (Html.BeginForm("Step1", "Tutor", FormMethod.Post, new { @class = "form", @role = "form" }))
                        {
                            <div class="form-horizontal">
                                @Html.AntiForgeryToken()
                                @Html.HiddenFor(m => m.AccountID)
                                @Html.HiddenFor(m => m.IsEditing)
                                @Html.HiddenFor(m => m.ProfileID)
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        @*<div class="form-group">
                                            <div class="pull-right">
                                                <div>
                                                    <img id="profileImage" src="~/assets/img/avatar.png" alt="profileImage" height=150 width=150 style="border: 1px solid black; border-radius:2px;" />
                                                </div>
                                                <div>
                                                    <button  value="upload" id="upload_pic" t  class="btn btn-lg btn-success pull-right"  style="margin-top:5px; width:150px; height:40px;">
                                                        <span class="glyphicon glyphicon-upload"></span> Upload  
                                                    </button>
                                                </div>
                                               </div>
                                               <div class="form-group col-md-6 pull-left" style="margin-top:80px">
                                                @Html.Label("Upload your proflle picture")
                                                @Html.TextBox("register-avatar", "", new { type = "file", @class = "form-control", @accept = ".jpg,.jpeg,.png" })
                                            </div>
                                        </div>*@
                                     
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.FirstName)
                                            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control border-color-1" } })
                                            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.MiddleName)
                                            @Html.EditorFor(model => model.MiddleName, new { htmlAttributes = new { @class = "form-control border-color-1" } })
                                            @Html.ValidationMessageFor(model => model.MiddleName, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.LastName)
                                            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control border-color-1" } })
                                            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.DateOfBirth)
                                            <input type="date" name="DateOfBirth" class="form-control" value="@Model.DateOfBirth.ToString("yyyy-MM-dd") required">
                                            @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Gender)
                                            @Html.DropDownList("Gender", new List<SelectListItem>() {
               new SelectListItem {Text = "Male", Value="Male" },
               new SelectListItem {Text = "Female", Value="Female" }
           }, "Select", new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Phone)
                                            @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control border-color-1" } })
                                            @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.HomeAddressLine1)
                                            @Html.EditorFor(model => model.HomeAddressLine1, new { htmlAttributes = new { @class = "form-control border-color-1" } })
                                            @Html.ValidationMessageFor(model => model.HomeAddressLine1, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.HomeAddressLine2)
                                            @Html.EditorFor(model => model.HomeAddressLine2, new { htmlAttributes = new { @class = "form-control border-color-1" } })
                                            @Html.ValidationMessageFor(model => model.HomeAddressLine2, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.HomeAddressLine3)
                                            @Html.EditorFor(model => model.HomeAddressLine3, new { htmlAttributes = new { @class = "form-control border-color-1" } })
                                            @Html.ValidationMessageFor(model => model.HomeAddressLine3, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.City)
                                            @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control border-color-1" } })
                                            @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.State)
                                            @Html.DropDownList("State", ViewBag.States as IEnumerable<SelectListItem>, "Select", new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.State, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.ZipCode)
                                            @Html.EditorFor(model => model.ZipCode, new { htmlAttributes = new { @class = "form-control border-color-1" } })
                                            @Html.ValidationMessageFor(model => model.ZipCode, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.About)
                                            @Html.TextAreaFor(m => m.About, 5, 30,  new { @class = "form-control border-color-5" })
                                            @Html.ValidationMessageFor(model => model.About, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group" style="float:right; margin-top:20px">
                                            <div class="col-md-10">
                                                <input type="submit" value="Save and continue" class="btn btn-lg btn-success" />
                                            </div>
                                            <div class="text-danger">@ViewBag.ErrorMsg</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>


        </div>
    </div>

</section>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/assets/js/upload.js"></script>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
