﻿@model TeachMyChild.ViewModels.ProfileDocuments
@{
    ViewBag.Title = "sdk";
}
<section class="mainContent full-width clearfix">
    <div class="container">
        <div class="row center" style="margin-bottom: 20px">
            <ul class="nav nav-pills" role="tablist">
                <li>@Html.ActionLink("Dashboard", "MyDashBoard", "Tutor")</li>
                <li>
                    <a href="@Url.Action("step1", "Tutor")">
                        Basic Details
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("step2", "Tutor")">
                        Experience
                    </a>
                </li>

                <li>
                    <a href="@Url.Action("Step3", "Tutor")">
                        Select courses
                    </a>
                </li>
                <li class="active">@Html.ActionLink("Documents", "Step4", "Tutor", routeValues: new { id = (object)ViewBag.userId }, htmlAttributes: new { })</li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-9 col-sm-8 col-xs-12 block">
                <div class="panel panel-default formPanel">
                    <div class="panel-heading bg-color-3 border-color-3">
                        <h3 class="panel-title">Upload required documents<span style="float:right">4 of 4</span></h3>
                    </div>
                        <div class="panel-body">
                            @using (Html.BeginForm("Step4", "Tutor", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                <div class="panel-body">
                                    <div class="form-group" style="margin-bottom: 100px">
                                        <div class="pull-right">
                                            <div>
                                                <img id="profileImage" src=@Html.Raw(Model.ProfileImageUri.TrimStart('~').Replace(" ","%20")) alt="profileImage" height=150 width=150 style="border: 1px solid black; border-radius:2px;" />
                                            </div>
                                            <div>
                                                <button value="upload" id="upload_pic" t class="btn btn-lg btn-success pull-right" style="margin-top:5px; width:150px; height:40px;" type="button" onclick="UploadProfileImage()">
                                                    <span class="glyphicon glyphicon-upload"></span> Upload
                                                </button>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-6 pull-left" style="margin-top:80px">
                                            @Html.Label("Upload your proflle picture")
                                            @Html.TextBox("register-avatar", "", new { type = "file", @class = "form-control", @accept = ".jpg,.jpeg,.png" })
                                        </div>
                                    </div>
                                </div>

                                @Html.AntiForgeryToken()
                                @Html.HiddenFor(m => m.ProfileId)
                                @Html.HiddenFor(m => m.ProfileImageUri)
                                <div class="form-horizontal" style="margin-left:10%; margin-right:10%; margin-bottom:10%">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group" id="js-upload-form">
                                        <div>
                                            @Html.DropDownList("upload", new List<SelectListItem>() {
                                         new SelectListItem {Text ="Proof of Identification", Value="Proof of Identification" },
                                         new SelectListItem {Text ="Resume", Value="Resume" },
                                         new SelectListItem {Text ="Utility Bill for the past 3 months", Value="Utility Bill" },
                                         new SelectListItem {Text ="Video CV", Value="Video CV" },
                                         new SelectListItem {Text ="Other files you deem neccessary", Value="Others" },
                                   }, "Select", new { @class = "form-control" })

                                        </div>

                                        <div class="upload-drop-zone" id="drop-zone" style="margin-top:10px;height: 200px;border-width: 2px;
    margin-bottom: 20px; color: #ccc; border-style: dashed; border-color: #ccc; line-height: 200px;text-align: center;">
                                            Just drag and drop files here
                                        </div>
                                        <h3 class="text-center">Or browse file to upload</h3>

                                        <div class="col-md-6 pull-left" style="margin-top:5px;">
                                            @Html.TextBox("file_upload", "", new { type = "file", @class = "form-control", @accept = ".jpg,.png,.gif,.doc,.pdf" })
                                        </div>
                                        <div class="buttons pull-right" style="margin-top:10px;margin-right:10px; margin-bottom:20px">
                                            @*<a href="#" style="width:100px" class="btn btn-info btn-sm" id="add_doc">Upload</a>*@
                                            <input type="button" style="width:100px" class="btn btn-info btn-sm" id="add_doc" value="Upload" />
                                        </div>
                                        <div id="loading">
                                            Processing...
                                            <img style="width:60px; height:60px; " src="~/assets/img/loading.gif" />
                                        </div>

                                    </div>


                                    <div style="margin-top:50px; text-align:center">
                                        <table id="table_upload" class="table table-bordered table-responsive table-hover" style="border-color:Black;border-collapse:collapse; ">
                                            <tr style="font-weight: bold; background-color: #ea7066;color:#ffffff; font-size:small">
                                                <th style="width:10px;text-align:center">S/N</th>
                                                <th style="width:50px;text-align:center">Document Name</th>
                                                <th style="width:50px;text-align:center">File name</th>
                                                <th style="width:50px;text-align:center">Action</th>
                                            </tr>
                                            <tbody id="nonVidFilesDiv">
                                                @foreach (var nonVid in Model.NonVidFiles)
                                                {
                                                    @Html.Partial("_NonVideoFIle", nonVid)
                                                }
                                            </tbody>

                                        </table>

                                    </div>


                                    <div style="margin-top:100px">
                                        <input type="submit" class="btn btn-danger btn-sm" style="width:100px" name="action" value="Previous" />
                                        <input type="submit" class="btn btn-danger btn-sm pull-right" style="width:100px" name="action" value="Complete Profile" />
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10 text-success">
                                            @ViewBag.UploadStatus
                                        </div>
                                    </div>

                                </div>
                            }
                        </div>
                    </div>
            </div>
        </div>
    </div>
</section>


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/assets/js/custom-validator.js"></script>
<script src="~/assets/js/tutor-experience.js"></script>
<script src="~/assets/js/upload.js"></script>

<script type="text/javascript">
    var url = '@Url.Action("GetNonVidPartial")';
    var form = $('form');
    var recipients = $('#nonVidFilesDiv');
 

    
   
</script>