﻿@model TeachMyChild.ViewModels.EduAndProfessionalBackground

<section class="mainContent full-width clearfix">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-8 col-xs-12 block">
                <div class="panel panel-default formPanel">
                    <div class="panel-heading bg-color-3 border-color-3">
                        <h3 class="panel-title">Education and Work Experiences information <span style="float:right">2 of 4</span></h3>
                    </div>
                    <div class="panel-body">

                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(m => m.AccountID)
                            @Html.HiddenFor(m => m.ProfileId)
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="col-md-10 col-md-offset-1 col-xs-12">

                                <div class="sectionTitle text-center">
                                    <h2>
                                        <span class="shape shape-left bg-color-4"></span>
                                        <span>Education Background</span>
                                        <span class="shape shape-right bg-color-4"></span>
                                    </h2>
                                </div>
                                <div id="eduItems" class="section education-background">
                                    <div class="eduItemRow row" style="margin:auto">
                                        <div class="row form-group">
                                            <label class="col-sm-3 label-title">Institute Name</label>
                                            <div class="col-sm-9">
                                                @Html.TextBox("InstitutionName", null, new { @class = "form-control formfield", @placeholder = "FUTA", @type = "text" })
                                            </div>
                                        </div>

                                        <div class="row form-group">
                                            <label class="col-sm-3 label-title">Concentration</label>
                                            <div class="col-sm-9">
                                                @Html.TextBox("Concentration", null, new { @class = "form-control formfield", @placeholder = "Engineering school", @rows = "8" })
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <label class="col-sm-3 label-title">Degree</label>
                                            <div class="col-sm-9">
                                                @Html.TextBox("DegreeAwarded", null, new { @class = "form-control formfield", @placeholder = "Human Resource Manager", @type = "text" })
                                            </div>
                                        </div>
                                        <div class="row form-group time-period">
                                            <label class="col-sm-3 label-title">From</label>
                                            <div class="col-sm-9">
                                                <input type="date" id="EduStartDate" name="StartDate" class="form-control">
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <label class="col-sm-3 label-title">To</label>
                                            <div class="col-sm-9">
                                                <input type="date" id="EduEndDate" name="EndDate" class="form-control">
                                                <div class="row" style="margin-top:20px ; margin-bottom:10px">
                                                    <label class="col-sm-6 label-title">I currently study here</label>
                                                    <input class="col-sm-6 text-right" type="checkbox" name="StillStudiesHere" id="StillStudiesHere" onchange="stillWorksHereChanged(this)" />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="buttons pull-right">
                                            <button style="width:150px" class="btn btn-info btn-sm" id="addEduRow" type="button">Add New Education</button>
                                        </div>

                                        <div style="margin-top:40px; text-align:center">
                                            <table class="table table-bordered table-responsive table-hover" style="border-color:Black;border-collapse:collapse; ">
                                                <tr style="font-weight: bold; background-color: #ea7066;color:#ffffff">
                                                    <th style="width:100px;text-align:center">S/N</th>
                                                    <th style="width:100px;text-align:center">Institution</th>
                                                    <th style="width:100px;text-align:center">Concentration</th>
                                                    <th style="width:100px;text-align:center">Degree</th>
                                                    <th style="width:100px;text-align:center">From</th>
                                                    <th style="width:100px;text-align:center">To</th>
                                                    <th style="width:100px;text-align:center">Action</th>
                                                </tr>
                                                <tbody id="educations">
                                                    @foreach (var education in Model.Educations)
                {
                                                        @Html.Partial("_TestEduTableList", education)
                                                    }
                                                </tbody>

                                            </table>
                                        </div>

                                    </div>

                                </div><!-- education -->

                            </div>


                            <div class="col-md-10 col-lg-offset-1" style="margin-top:50px">
                                <div class="sectionTitle text-center">
                                    <h2>
                                        <span class="shape shape-left bg-color-4"></span>
                                        <span>Work Experiences</span>
                                        <span class="shape shape-right bg-color-4"></span>
                                    </h2>
                                </div>
                                <div id="expItems" class="section">
                                    <div class="expItemRow row" style="margin:auto">
                                        <div class="row form-group">
                                            <label class="col-sm-3 label-title">Company Name</label>
                                            <div class="col-sm-9">
                                                @Html.TextBox("CompanyName", null, new { @class = "form-control formfield", @placeholder = "Name", @type = "text" })
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <label class="col-sm-3 label-title">Job Title</label>
                                            <div class="col-sm-9">
                                                @Html.TextBox("JobTitle", null, new { @class = "form-control formfield", @placeholder = "Physics Teacher", @type = "text" })
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <label class="col-sm-3 label-title">Descrition</label>
                                            <div class="col-sm-9">
                                                @Html.TextBox("Description", null, new { @class = "form-control formfield", @placeholder = "Some Descrition", @type = "text" })
                                            </div>
                                        </div>
                                        <div class="row form-group time-period">
                                            <label class="col-sm-3 label-title">From</label>
                                            <div class="col-sm-9">
                                                <input type="date" id="ExpStartDate" name="StartDate" class="form-control">
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <label class="col-sm-3 label-title">To</label>
                                            <div class="col-sm-9">
                                                <input type="date" id="ExpEndDate" name="EndDate" class="form-control">
                                                <div class="row" style="margin-top:10px; margin-bottom:10px">
                                                    <label class="col-sm-6 label-title">I currently work here</label>
                                                    <input class="col-sm-6 text-right" type="checkbox" id="StillWorksHere" name="StillWorksHere" onchange="stillWorksHereChanged(this)" />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="buttons pull-right">                                            
                                            <button style="width:150px" class="btn btn-info btn-sm" id="addExpRow" type="button">Add New Exprience</button>
                                        </div>
                                        <div style="margin-top:40px; text-align:center">
                                            <table class="table-bordered table-responsive table-hover" style="border-color:Black;border-collapse:collapse; ">
                                                <tr style="font-weight: bold; background-color: #ea7066;color:#ffffff">
                                                    <th style="width:100px;text-align:center">S/N</th>
                                                    <th style="width:100px;text-align:center">Company Name</th>
                                                    <th style="width:100px;text-align:center">Job Title</th>
                                                    <th style="width:100px;text-align:center">Description</th>
                                                    <th style="width:100px;text-align:center">From</th>
                                                    <th style="width:100px;text-align:center">To</th>
                                                    <th style="width:100px;text-align:center">Action</th>
                                                </tr>
                                                <tbody id="experiences">
                                                    @foreach (var experience in Model.WorkExperiences)
                                                    {
                                                        @Html.Partial("_ExperienceList", experience)
                                                    }
                                                </tbody>
                                              

                                            </table>

                                        </div>
                                    </div>

                                </div>

                            </div>






                            <div class="col-md-12" style="margin-top:50px">
                                <input type="submit" class="btn btn-danger btn-sm" style="width:100px" name="action" value="Previous" />
                                <input type="submit" class="btn btn-danger btn-sm pull-right" style="width:100px" name="action" value="Next" />
                            </div>

                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>





<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/assets/js/tutor-experience.js"></script>

<script type="text/javascript">
    // Education
   
    $('#addEduRow').click(function () {
        var eduUrl = '@Url.Action("GetEduTableRow")';
        var educations = $('#educations');
        var form = $('form');
        var instiName = $("#InstitutionName").val();
        var concentration = $("#Concentration").val();
        var degreeaward = $("#DegreeAwarded").val();
        var start = $('#EduStartDate').val().trim();
        var end = $('#EduEndDate').val().trim();

        var endVal = end;
        var stillStudiesHere = $('#StillStudiesHere').is(":checked")
        if (stillStudiesHere) {
            endVal = "Present"
        }
        if ((instiName && concentration && degreeaward && start) && (end || stillStudiesHere)) {
            var eduData = {
                InstitutionName: instiName,
                Concentration: concentration,
                DegreeAwarded: degreeaward,
                StartDate: start,
                EndDate: end,
                StillStudiesHere: stillStudiesHere
            }
            $.get(eduUrl, eduData, function (response) {
                educations.append(response);
                // Reparse the validator for client side validation
                form.data('validator', null);
                $.validator.unobtrusive.parse(form);
            });
        }
        else {
            alert("Please enter required education data");
        }   
    });



    // Work Experience
   
    $('#addExpRow').click(function () {
        var expUrl = '@Url.Action("GetExpTableRow")';
        var company = $("#CompanyName").val();
        var job = $("#JobTitle").val();
        var description = $("#Description").val();
        var start = $('#ExpStartDate').val().trim();
        var end = $('#ExpEndDate').val().trim();
        console.log("add item... ");
        var endVal = end;
        var stillWorksHere = $('#StillWorksHere').is(":checked")
        if (stillWorksHere) {
            endVal = "Present"
        }
        if ((company && job && start) && (end || stillWorksHere)) {
            var expData = {
                CompanyName: company,
                JobTitle: job,
                Description: description,
                StartDate: start,
                EndDate: end,
                StillWorksHere: stillWorksHere
            }
            var experiences = $('#experiences');
            $.get(expUrl, expData, function (response) {
                experiences.append(response);
                form.data('validator', null);
                $.validator.unobtrusive.parse(form);
            });
        }
        else {
            alert("Please enter required work experience data");
        }
    
    });

    // delete
    //$('.delete').click(function() {
    //    var container = $(this).closest('.recipient');
    //    var id = container.find('.id').val();
    //    if (id) {
    //        // make ajax post to delete item
    //        $.post(yourDeleteUrl, { id: id }, function(result) {
    //            container.remove();
    //        }.fail(function (result) {
    //            // Oops, something went wrong (display error message?)
    //        }
    //        } else {
    //        // It never existed, so just remove the container
    //        container.remove();
    //    }
    //});
</script>
