﻿@model TeachMyChild.ViewModels.WithdrawModel
@{
    ViewBag.Title = "Withdraw";
}

<section class="pageTitleSection mainContent full-width clearfix" style="padding:10px">
    <div class="container">
        <div class="pageTitleInfo">
            <div class="row">
                <div class="col-sm-3" style="margin:0 auto; width: 100%">
                    <div class="teachersPhoto">
                        <img src=@Html.Raw(Model.ProfileHeader.ProfileImageUri.Replace(" ", "%20").TrimStart('~')) alt="image"
                             class="img-circle img-responsive" style="width:70px; height:
                    70px; margin: 0 auto">
                        <h3 style="color:white; margin: auto">@Model.ProfileHeader.FullName</h3>
                        <h5 style="color:white;; margin: auto">@Model.ProfileHeader.Email</h5>
                        <h5 style="color:white;; margin: auto">Join: @Model.ProfileHeader.MonthJoined @Model.ProfileHeader.YearJoined</h5>
                    </div>
                </div>
                <div class="col-sm-2" style="margin: 0 auto;width: 100%;">
                    @for (int i = 0; i < Model.ProfileHeader.AverageRating; i++)
                    {
                        <i class="fa fa-star"></i>
                    }                    
                    <h5 style="color:white">Level One Tutor</h5>
                </div>
                <div class="col-sm-12">
                    <ul class="nav nav-pills" style="margin-top:20px; width: 100%;">
                        <div style="margin: 0 auto">
                            <li>
                                <div class="badge">
                                    <h2>@Model.ProfileHeader.NumberOfCompletedTutorials</h2>
                                </div>
                                <h5 style="color:white; margin-top: 2px">
                                    Completed Tutorials
                                </h5>
                            </li>
                            <li>
                                <div class="badge">
                                    <h2>@Model.ProfileHeader.NumberOfOngoingTutorials</h2>                                                                   
                                </div>
                                <h5 style="color:white ; margin-top: 2px">
                                    Ongoing Tutorials
                                </h5>
                            </li>
                            <li>
                                <div class="badge">
                                    <h2>NGN @Model.ProfileHeader.TotalEarnings</h2>
                                </div>
                                <h5 style="color:white ; margin-top: 2px">
                                    LifeTime Earnings
                                </h5>
                            </li>

                            <li>
                                <div class="badge">
                                    <h2>NGN @Model.ProfileHeader.AvailableToWithdraw</h2>
                                </div>
                                <h5 style="color:white ; margin-top: 2px">
                                    Available to Withdraw
                                </h5>
                            </li>
                        </div>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ====================================
——— MAIN SECTION
===================================== -->
<section class="mainContent full-width clearfix">
    <div class="container">
        <div class="row center">
            <ul class="nav nav-pills" role="tablist">
                <li>@Html.ActionLink("Dashboard", "MyDashBoard", "Tutor")</li>
                <li>
                    <a href="@Url.Action("Inbox", "Tutor")">
                        Inbox
                        <span class="badge">7</span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Notification", "Tutor")">
                        Notification
                        <span class="badge">7</span>
                    </a>
                </li>

                <li class="active">
                    <a href="@Url.Action("Withdraw", "Tutor")">
                        Withdraw
                        <span class="badge">$1200</span>
                    </a>
                </li>
                <li>@Html.ActionLink("Profile", "Dashboard", "Tutor")</li>
            </ul>
        </div>
        <div class="row" style="margin-top: 10px">
            <div class="panel-heading bg-color-3 border-color-3">
                <h3 class="panel-title" style="color:white" id="title_view">Withdraw funds</h3>
            </div>
            <div class="container" id="dashboard_view">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3 col-md-push-9 col-sm-5 col-sm-push-7 col-xs-12">
                            <aside>
                                <div class="panel panel-default courseSidebar">
                                    <div class="panel-heading bg-color-1 border-color-1">
                                        <h3 class="panel-title">Recent reviews</h3>
                                    </div>
                                    <div class="panel-body">
                                        <ul class="list-unstyled postLink">
                                            <li>
                                                <div class="media">
                                                    <div class="media-left">
                                                        <img src="~/assets/img/blog-4.jpg" alt="image" class="img-circle" style="width:70px; height:
                                            70px;">
                                                    </div>
                                                    <div class="media-body">
                                                        <h5 class="media-list"><a href="single-blog.html">A Clean Website Gives More Experience To The Visitors</a></h5>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="media">
                                                    <div class="media-left">
                                                        <img src="~/assets/img/blog-4.jpg" alt="image" class="img-circle" style="width:70px; height:
                                              70px;">
                                                    </div>
                                                    <div class="media-body">
                                                        <h5 class="media-list"><a href="single-blog.html">A Clean Website Gives More Experience To The Visitors</a></h5>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="media">
                                                    <div class="media-left">
                                                        <img src="~/assets/img/blog-4.jpg" alt="image" class="img-circle" style="width:70px; height:
                                                70px;">
                                                    </div>
                                                    <div class="media-body">
                                                        <h5 class="media-list"><a href="single-blog.html">A Clean Website Gives More Experience To The Visitors</a></h5>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="coursesCounter">
                                    <div class="counterInner">
                                        <h3>Your Next Tutorial Start In</h3>
                                        <div class="coursesCountStart clearfix">
                                            <div id="courseTimer" class="courseCountTimer">

                                            </div>
                                        </div>
                                        <a href="#" class="btn btn-primary">View details</a>
                                    </div>
                                </div>
                            </aside>
                        </div>
                        <div class="col-md-9 col-md-pull-3 col-sm-7 col-sm-pull-5 col-xs-12" id="dashboard_view">
                            <h4> A total sum of $1200 will be paid to your account</h4>
                            <h6> Processing will take 3 business days, click to confirm payout</h6>
                            <a href="#" class="btn btn-primary">Confirm payout</a>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>





