﻿@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- SITE TITTLE -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Teach my child Global</title>
    <!-- PLUGINS CSS STYLE -->
    <link href="~/assets/plugins/jquery-ui/jquery-ui.css" rel="stylesheet">
    <link href="~/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/assets/plugins/font-awesome/css/font-awesome-all.css" rel="stylesheet" />
    <link href="~/assets/plugins/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/assets/css/cardprofile.css" rel="stylesheet">
    <link href="~/assets/plugins/jquery-ui/jquery-ui.css" rel="stylesheet">
    <link href="~/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/assets/plugins/rs-plugin/css/settings.css" rel="stylesheet">
    <link href="~/assets/plugins/selectbox/select_option1.css" rel="stylesheet">
    <link href="~/assets/plugins/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="~/assets/plugins/fancybox/jquery.fancybox.min.css" rel="stylesheet">
    <link href="~/assets/plugins/isotope/isotope.css" rel="stylesheet">
    <link href="~/assets/plugins/animate/animate.css" rel="stylesheet">
   
    @*<link href="~/assets/plugins/selectbox/select_option1.css" rel="stylesheet">
    <link href="~/assets/plugins/owl-carousel/owl.carousel.css" rel="stylesheet">   
    <link href="~/assets/plugins/fancybox/jquery.fancybox.min.css" rel="stylesheet">
    <link href="~/assets/plugins/isotope/isotope.css" rel="stylesheet">           
    <link href="~/assets/plugins/animate/animate.css" rel="stylesheet">*@
    <!-- GOOGLE FONT -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Dosis:400,300,600,700' rel='stylesheet' type='text/css'>

    <!-- CUSTOM CSS -->
    <link href="~/assets/css/app.css" rel="stylesheet">
    <link href="~/assets/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="~/assets/css/default.css" id="option_color">

    <link rel="shortcut icon" href="~/assets/img/home-page/logo1.PNG">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>


<body class="body-wrapper">

    <div class="main-wrapper">
        <!-- ====================================
        ——— HEADER
        ===================================== -->
        <header id="pageTop" class="header-wrapper">
            <!-- COLOR BAR -->
            <div class="container-fluid color-bar top-fixed clearfix">
                <div class="row">
                    <div class="col-sm-1 col-xs-2 bg-color-1">fix bar</div>
                    <div class="col-sm-1 col-xs-2 bg-color-2">fix bar</div>
                    <div class="col-sm-1 col-xs-2 bg-color-3">fix bar</div>
                    <div class="col-sm-1 col-xs-2 bg-color-4">fix bar</div>
                    <div class="col-sm-1 col-xs-2 bg-color-5">fix bar</div>
                    <div class="col-sm-1 col-xs-2 bg-color-6">fix bar</div>
                    <div class="col-sm-1 bg-color-1 hidden-xs">fix bar</div>
                    <div class="col-sm-1 bg-color-2 hidden-xs">fix bar</div>
                    <div class="col-sm-1 bg-color-3 hidden-xs">fix bar</div>
                    <div class="col-sm-1 bg-color-4 hidden-xs">fix bar</div>
                    <div class="col-sm-1 bg-color-5 hidden-xs">fix bar</div>
                    <div class="col-sm-1 bg-color-6 hidden-xs">fix bar</div>
                </div>
            </div>
            <!-- TOP INFO BAR -->

            <div class="top-info-bar bg-color-7">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-7 hidden-xs">
                            <ul class="list-inline topList">
                                <li><i class="fa fa-envelope bg-color-1" aria-hidden="true"></i> <a href="mailto:info@teachmychildglobal.com">info@teachmychildglobal.com</a></li>
                                <li><i class="fa fa-phone bg-color-2" aria-hidden="true"></i> +1 862 218 3354, 07069505285</li>
                            </ul>
                        </div>
                        <div class="col-sm-5">
                            <ul class="list-inline functionList">
                                @Html.Partial("_LoginPartial")
                            </ul>

                        </div>


                    </div>
                </div>
            </div>

            <!-- NAVBAR -->
            <nav id="menuBar" class="navbar navbar-default lightHeader" role="navigation">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse" style="float:right; width:inherit; margin-bottom:10px">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar" ></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/home/index"><img src="~/assets/img/home-page/logo1.PNG" alt="Teach my child"></a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse navbar-ex1-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown singleDrop color-1   active ">
                                <a href=@Url.Action("Index", "Home")>
                                    <i class="fa fa-home bg-color-1" aria-hidden="true"></i> <span class="active">Home</span>
                                </a>

                            </li>
                            <li class="dropdown singleDrop">
                                <a href=@Url.Action("Index", "Tutorials")>
                                    <i class="fa fa-list-ul bg-color-3"
                                       aria-hidden="true"></i> <span>Tutorial Requests</span>
                                </a>
                               
                            </li>
                            <li class=" dropdown megaDropMenu color-2 ">
                                <a href=@Url.Action("Index", "Courses")>
                                    <i class="fa fa-file-text-o bg-color-2" aria-hidden="true"></i>
                                    <span>Courses</span>
                                </a>

                            </li>
                            <li class="dropdown singleDrop color-4 ">
                                <a href=@Url.Action("Index", "Tutor")>
                                    <i class="fa fa-pencil-square-o bg-color-4" aria-hidden="true"></i>
                                    <span>Find Tutors</span>
                                </a>

                            </li>
                            <li class="dropdown singleDrop color-5  ">
                                <a href=@Url.Action("About", "Home")>
                                    <i class="fa fa-calendar bg-color-5" aria-hidden="true"></i>
                                    <span>About Us</span>
                                </a>

                            </li>
                            <li class="dropdown singleDrop color-6 ">
                                <a href=@Url.Action("Contact", "Home")>
                                    <i class="fa fa-gg bg-color-6"
                                       aria-hidden="true"></i> <span>Contact Us</span>
                                </a>

                            </li>
                        </ul>
                    </div>
                    </div>
            </nav>
        </header>



        <!--====================================
        ——— BODY SECTION
        ===================================== -->
        @RenderBody()



        <!-- ====================================
        ——— FOOTER
        ===================================== -->
        <footer>
            <!-- COLOR BAR -->
            <div class="container-fluid color-bar clearfix">
                <div class="row">
                    <div class="col-sm-1 col-xs-2 bg-color-1">fix bar</div>
                    <div class="col-sm-1 col-xs-2 bg-color-2">fix bar</div>
                    <div class="col-sm-1 col-xs-2 bg-color-3">fix bar</div>
                    <div class="col-sm-1 col-xs-2 bg-color-4">fix bar</div>
                    <div class="col-sm-1 col-xs-2 bg-color-5">fix bar</div>
                    <div class="col-sm-1 col-xs-2 bg-color-6">fix bar</div>
                    <div class="col-sm-1 bg-color-1 hidden-xs">fix bar</div>
                    <div class="col-sm-1 bg-color-2 hidden-xs">fix bar</div>
                    <div class="col-sm-1 bg-color-3 hidden-xs">fix bar</div>
                    <div class="col-sm-1 bg-color-4 hidden-xs">fix bar</div>
                    <div class="col-sm-1 bg-color-5 hidden-xs">fix bar</div>
                    <div class="col-sm-1 bg-color-6 hidden-xs">fix bar</div>
                </div>
            </div>
            <!-- FOOTER INFO AREA -->
            <div class="footerInfoArea full-width clearfix" style="background-image: url(/assets/img/home-page/footer-bg-13.png);">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-5 col-md-4">
                            <div class="footerTitle">
                                <a href="index.html"><img src="~/assets/img/home-page/logo1.PNG"></a>
                            </div>
                            <div class="footerInfo">
                                <div class="homeContactContent wow fadeInUp">
                                    <h2>Our Address</h2>

                                    <address>
                                        <p class="white-text">
                                            <i class="fa fa-map-marker bg-color-1" aria-hidden="true" style="float:left; margin-top:2px"></i>Block
                                            5D
                                            Close,
                                            Katampe Street,Kubwa, FCT Abuja <br />
                                        222 Daniel Low Terrace, Staten Island, NYC USA
                                        </p>
                                        <p>
                                            <i class="fa fa-envelope bg-color-2" aria-hidden="true" style="float:left;"></i><a href="mailto:teachmychildglobal@gmail.com" class="white-text">teachmychildglobal@gmail.com</a>
                                        </p>
                                        <p class="white-text">
                                            <i class="fa fa-phone bg-color-4" aria-hidden="true" style="float:left; margin-top:2px"></i> +1 (862)-218-3354, 07069505285,
                                            08076357643
                                        </p>
                                    </address>
                                </div>

                            </div>
                        </div>

                        <div class="col-sm-4 col-xs-12">
                            <div class="footerTitle">
                                <h4>Useful Links</h4>
                            </div>
                            <div class="footerInfo">
                               
                                <div class="row">
                                    <div class="col-sm-6">
                                        <ul class="list-unstyled footerList">
                                            <li>
                                                <a href="home/about">
                                                    <i class="fa fa-angle-double-right icon-color1" aria-hidden="true"></i>About
                                                    Us
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/courses/index">
                                                    <i class="fa fa-angle-double-right icon-color2" aria-hidden="true"></i>Courses
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/tutor/index">
                                                    <i class="fa fa-angle-double-right icon-color3" aria-hidden="true"></i>Tutors
                                                </a>
                                            </li>

                                        </ul>
                                    </div>
                                    <div class="col-sm-6">
                                        <ul class="list-unstyled footerList">

                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-angle-double-right icon-color5" aria-hidden="true"></i>Blog
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-angle-double-right icon-color6" aria-hidden="true"></i>
                                                    Policy
                                                </a>
                                            </li>
                                        </ul>
                                    </div>

                                </div>


                            </div>
                        </div>
                    
                        <div class="col-sm-4 col-xs-12">
                            <div class="footerTitle">
                                <h4>Mailing List</h4>
                            </div>
                            <div class="footerInfo">
                                <p>Sign up for our mailing list to get latest updates and offers.</p>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Email address" aria-describedby="basic-addon21">
                                    <button type="submit" class="input-group-addon" id="basic-addon21"><i class="fa fa-check" aria-hidden="true"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- COPY RIGHT -->
            <div class="copyRight clearfix">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-5 col-sm-push-7 col-xs-12">
                            <ul class="list-inline">
                                <li><a href="#" class="bg-color-1"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#" class="bg-color-2"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#" class="bg-color-3"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                <li><a href="#" class="bg-color-4"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                                <li><a href="#" class="bg-color-5"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                        <div class="col-sm-7 col-sm-pull-5 col-xs-12">
                            <div class="copyRightText">
                                <p>© @DateTime.Now.Year Copyright TeachmyChild Global</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          
        </footer>
    </div>
    <div class="scrolling">
        <a href="#pageTop" class="backToTop hidden-xs" id="backToTop"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
      
     </div>   
        
    

        <script src="~/assets/plugins/jquery/jquery-min.js"></script>
        <script src="~/assets/plugins/jquery-ui/jquery-ui.js"></script>
        <script src="~/assets/plugins/bootstrap/js/bootstrap.min.js"></script>


        <script src="~/assets/js/app.js"></script>
</body>
</html>

@RenderSection("scripts", required: false)
@RenderSection("css", required: false)