﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {

        @Html.AntiForgeryToken();

        string name = User.Identity.GetUserName();
        if (name.Contains("@"))
        {
            name = name.Split('@')[0];
        }
        <li style="float:right; margin-left:5px"><i><img src="~/assets/img/user_logout.png" alt="logout" height="20" width="20" /></i><a style="font-size: 12px; margin-left:5px" href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>

        <li style="float:right; margin-right:10px">
            <i><img src="~/assets/img/user.png" alt="logout" height="20" width="20" /></i>
            @*@Html.ActionLink("Hello " + name + "!", "Dashboard", "Tutor", routeValues: new { id = User.Identity.GetUserId() }, htmlAttributes: new { title = "Manage", style = "font-size:12px;" })*@
            @Html.ActionLink("Hello " + name + "!", "Mydashboard", new { controller = "Tutor" }, htmlAttributes: new { title = "Dashboard", style = "font-size:12px;" })
        </li>
    }
}
else
{           
    
     <li style="float:right; margin-right:5px"><i class="fa fa-sign-in bg-color-6"></i>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", style = "font-size:12px; margin-left:10px" })</li>
    <li style="float:right; margin-right:5px"><i class="fa fa-graduation-cap bg-color-2"></i>@Html.ActionLink("Register", "Register", "Account", routeValues: new { at = "Tutor" }, htmlAttributes: new { id = "registerLink", style = "font-size:12px;" })</li>
    @*<li><i class="fa fa-heart bg-color-4"></i>@Html.ActionLink("Register as Parent", "Register", "Account", routeValues: new { at = "Parent" }, htmlAttributes: new { id = "registerLink", style = "font-size:12px; margin-left:1px" })</li>*@
    }
