﻿<div class="col-md-3 col-sm-4 col-xs-12">
    <aside>
        <div class="panel panel-default courseSidebar">
            <div class="panel-heading bg-color-1 border-color-1">
                <h3 class="panel-title">Search</h3>
            </div>
            <div class="panel-body">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Enter Your Search" aria-describedby="basic-addon2">
                    <span class="input-group-addon" id="basic-addon2"><input class="btn btn-primary bg-color-1" type="submit" value="Search"></span>
                </div>
            </div>
        </div>
        <div class="panel panel-default courseSidebar">
            <div class="panel-heading bg-color-2 border-color-2">
                <h3 class="panel-title">Categories</h3>
            </div>
            <div class="panel-body">
                <ul class="list-unstyled categoryItem">
                    <li><a href="category.html">Education</a></li>
                    <li><a href="category.html">Kindergarten</a></li>
                    <li><a href="category.html">Playground</a></li>
                    <li><a href="category.html">Post Formats</a></li>
                    <li><a href="category.html">Children</a></li>
                </ul>
            </div>
        </div>
        <div class="rightSidebar">
            <div class="panel panel-default">
                <div class="panel-heading bg-color-5 border-color-5">
                    <h3 class="panel-title">Related Course</h3>
                </div>
                <div class="panel-body">
                    <ul class="media-list blogListing">
                        <li class="media">
                            <div class="media-left">
                                <a href="course-single-left-sidebar.html"><img src="assets/img/course-single/related-course-01.jpg" alt="image"></a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="course-single-left-sidebar.html">Mauris semper mass feugiat facilisis.</a></h4>
                                <p>July 7, 2016</p>
                            </div>
                        </li>
                        <li class="media">
                            <div class="media-left">
                                <a href="course-single-left-sidebar.html"><img src="assets/img/course-single/related-course-02.jpg" alt="image"></a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="course-single-left-sidebar.html">Mauris semper mass feugiat facilisis.</a></h4>
                                <p>July 7, 2016</p>
                            </div>
                        </li>
                        <li class="media">
                            <div class="media-left">
                                <a href="course-single-left-sidebar.html"><img src="assets/img/course-single/related-course-03.jpg" alt="image"></a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="course-single-left-sidebar.html">Mauris semper mass feugiat facilisis.</a></h4>
                                <p>July 7, 2016</p>
                            </div>
                        </li>
                        <li class="media">
                            <div class="media-left">
                                <a href="course-single-left-sidebar.html"><img src="assets/img/course-single/related-course-04.jpg" alt="image"></a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="course-single-left-sidebar.html">Mauris semper mass feugiat facilisis.</a></h4>
                                <p>July 7, 2016</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </aside>
</div>
