﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
    dynamic errorMsg = ViewBag.ErrorMsg;
}

<section class="mainContent full-width clearfix">
    <div class="container">
        <div class="row">
            <h1 class="text-danger">An error just occured!</h1>
            <h4 class="text-danger">@errorMsg</h4>


            </div>
        </div>
    </section>

            