body {
    color: #797979;
    background: #797979;
    font-family: 'Open Sans', sans-serif;
    padding: 0px !important;
    margin: 0px !important;
    font-size: 13px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
}

.mainContent {
    padding: 0 !important;


}

ul li {
    list-style: none;
}

a,
a:hover,
a:focus {
    text-decoration: none;
    outline: none;
}

::selection {

    background: #FF6C60;
    color: #fff;
}

::-moz-selection {
    background: #FF6C60;
    color: #fff;
}

#container {
    width: 100%;
    height: 100%;
}


/* main content */
#main-content {
    margin-left: 210px;

}

.header,
.footer {
    min-height: 60px;
    padding: 0 15px;
}

.header {
    /* position: fixed; */
    padding: 10px;
    height: auto;

}



.white-bg {
    background: #fff;
    border-bottom: 1px solid #f1f2f7;
}

.wrapper {
    display: inline-block;
    margin-top: 60px;
    padding: 15px;
    width: 100%;
}

/*notification*/

#top_menu .nav>li,
ul.top-menu>li {
    float: left;
}

.notify-row {
    float: left;
    margin-top: 15px;
    margin-left: 92px;
}

.notify-row .notification span.label {
    display: inline-block;
    height: 20px;
    width: 20px;
    padding: 5px;
    text-align: center;
    color: #fff;
    border-radius: 2px;
    margin-right: 5px;
    line-height: 12px;
}

ul.top-menu>li>a {
    color: #666666;
    font-size: 16px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    border: 1px solid #f0f0f8 !important;
    padding: 2px 6px;
    margin-right: 15px;
}

ul.top-menu>li>a:hover,
ul.top-menu>li>a:focus {
    border: 1px solid #f0f0f8 !important;
    background-color: #fff !important;
    border-color: #f0f0f8 !important;
    text-decoration: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    color: #2E2E2E !important;
}

.notify-row .badge {
    position: absolute;
    right: 6px;
    top: -8px;
    z-index: 100;
    color: #fff;
    border-radius: 30px;
}

.badge.bg-warning,
.badge.badge-warning {
    background: #FCB322;
}

.badge.bg-important,
.badge.badge-danger {
    background: #ff6c60;
}

.top-nav {
    height: auto;
}

.top-nav .username {
    font-size: 13px;
    color: #555555;
}

.top-nav ul.top-menu>li>a {
    border: 1px solid #eeeeee;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    padding: 6px;
    background: none;
    margin-right: 0;
}

.top-nav ul.top-menu>li {
    margin-left: 10px;
    display: inherit;
}

.top-nav ul.top-menu>li>a:hover,
.top-nav ul.top-menu>li>a:focus {
    border: 1px solid #F1F2F7;
    background: #F1F2F7;

}

.top-menu .dropdown img {
    width: 30px;
    /* display: block; */
    height: auto;
}

/*sidebar navigation*/

#sidebar {
    width: 210px;
    height: 100%;
    position: absolute;
    background: #2a3542;

}

#sidebar ul li {
    position: relative;
}

/*--sidebar toggle---*/
aside {
    margin: 0;
}

.sidebar-toggle-box {
    float: left;
    padding-right: 15px;
    margin-top: 20px;
}

.sidebar-toggle-box .fa-bars {
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
}


.nav-collapse.collapse {
    display: inline;
}


ul.sidebar-menu {
    margin-top: 75px;
}


ul.sidebar-menu li {
    /*line-height: 20px !important;*/
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

ul.sidebar-menu li.sub-menu {
    line-height: 15px;
}

ul.sidebar-menu li a span {
    display: inline-block;
}

ul.sidebar-menu li a {
    color: #aeb2b7;
    text-decoration: none;
    display: block;
    padding: 15px 0 15px 10px;
    font-size: 12px;
    outline: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

ul.sidebar-menu li a.active,
ul.sidebar-menu li a:hover,
ul.sidebar-menu li a:focus {
    background: #35404d;
    color: #fff;
    display: block;
    border-radius: 4px;
    -webkit-border-radius: 4px;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}


ul.sidebar-menu li a i {
    font-size: 15px;
    padding-right: 6px;
}

ul.sidebar-menu li a:hover i,
ul.sidebar-menu li a:focus i {
    color: #FF6C60;
}

ul.sidebar-menu li a.active i {
    color: #FF6C60;
}


.mail-info,
.mail-info:hover {
    margin: -3px 6px 0 0;
    font-size: 11px;
}


/*state overview*/
.state-overview {
    width: 100%;

}

.state-overview .tiles {
    display: block;

    border: none;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /* max-width: 300px; */
    margin: auto;
    margin-bottom: 20px;
    text-align: center;
}

.state-overview .symbol,
.state-overview .value {
    display: inline-block;
    text-align: center;
}

.state-overview .value {
    float: right;

}

.state-overview .value h1,
.state-overview .value p {
    margin: 0;
    padding: 0;
    color: #c6cad6;
}

.state-overview .value h1 {
    font-weight: 300;
}

.state-overview .symbol i {
    color: #fff;
    font-size: 50px;
}

.state-overview .symbol {
    width: 40%;
    padding: 25px 15px;
    -webkit-border-radius: 4px 0px 0px 4px;
    border-radius: 4px 0px 0px 4px;
}

.state-overview .value {
    width: 58%;
    padding-top: 21px;
}

.state-overview .terques {
    background: #6ccac9;
}

.state-overview .red {
    background: #ff6c60;
}

.state-overview .yellow {
    background: #f8d347;
}

.state-overview .blue {
    background: #57c8f2;
}



/*right side bar*/
.toggle-right {
    cursor: pointer;
    height: 50px;
    width: 50px;
}

#sidebar-right {
    background-color: rgba(42, 53, 66, 1) !important;
    position: absolute;
    padding: 2%;
    right: 0;
    top: 230px;

    width: 250px;
    height: auto;
    z-index: 80;
    -webkit-animation: slide 0.5s forwards;
    -moz-animation: slide 0.5s forwards;
    -o-animation: slide 0.5s forwards;
    overflow-y: scroll;
    animation: slide 0.5s forwards;
    transition: all .75s ease;
    display: none;
}

@-webkit-keyframes slide {
    100% {
        right: 0;
    }
}

@-moz-keyframes slide {
    100% {
        right: 0;
    }
}

@-o-keyframes slide {
    100% {
        right: 0;
    }
}

@keyframes slide {
    100% {
        right: 0;
    }
}

#sidebar-right .favorite-tutors .tutor {
    display: flex;
    /* flex-wrap: wrap; */
}

#sidebar-right h4 {
    color: #FF6C60;

}

#sidebar-right .favorite-tutors img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /* float: left; */
    margin: 5px;

}

#sidebar-right .favorite-tutors .details {
    width: 150px;
    margin: 10px;
}

/* media query  */
@media (max-width: 768px) {
    #main-content {
        margin: 0;
    }

    #sidebar {
        margin: 0;
        z-index: 1300;
        position: absolute;
        width: 100%;
        height: auto;
    }


}

@media (max-width: 500px) {
    .header {
        padding: 0;
    }

    #top_menu {
        margin: 0;
    }
}