.listCourseContainer {
    background: #dcdcdc !important;
    width: 100%;
    height: 100%;
}

.searchCourseContainer {
    width: 80%;
    margin: 0 auto;
    background: #fff;
    height: 100%;
}


.searchCourse {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 1;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .12),
        0 4px 10px 0 rgba(0, 0, 0, .16);
    -webkit-box-flex: 3;
    -webkit-flex: 3 1 auto;
    -ms-flex: 3 1 auto;
    flex: 3 1 auto;
    border: 1px solid rgba(0, 0, 0, .16);

}

.searchCourse button {
    background-color: #4CAF50;

    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    width: 100px;
    font-size: 16px;
}

.searchCourse input[type='text'],
.searchCourse input[type='search'] {
    height: 50px;
    padding: 0 10px;
    border: none;
    border-bottom: 1px solid #dcdcdc;
    outline: none;
    background-position: 9px 0px;
    background-repeat: no-repeat;
    padding-left: 50px;
}

.searchCourse input[type='text'] {
    border-left: 1px solid #dcdcdc;

    background-image: url('../img/maps.png');


}

.searchCourse input[type='search'] {

    background-image: url('../img/search.png');


}

.courseDetailsContainer {
    width: 80%;
    margin: 20px auto;
}

.filterCourse {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;


}

.courseDetailsContainer .filterCourse select {
    border: 1px solid #ccc;
    font-size: 14px;
    height: 30px;
    width: 200px;
    margin-top: 2%;
}

.filterCourse .top-pagination {
    width: auto;
    margin-top: 2%;
}

.filterCourse .top-pagination ul {
    margin: 0 30px;
}

.courseSearchCards {
    margin: 4% 0;
    width: 100%;
    height: 100%;
    padding: 2%;
    background-color: #fff;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, .08),
        0 2px 4px 0 rgba(0, 0, 0, .12);

}


.courseSearchItem .courseSearchItemDescription {
    width: 100%;
    height: 100%;
}

.courseSearchItem .courseSearchItemDescription ul {
    width: 80%;
    height: 100%;
    display: inline-block;

}

.courseSearchItem .courseSearchItemDescription ul li {
    list-style: none;
    float: left;
    margin-left: 0.5em;
    color: #4CAF50;

}

.courseSearchCards .profile-details .profile-image {
    width: 200px;
    height: 200px;
    border: 1px solid #4CAF50;
    border-radius: 50%;
}

.courseDetailsContainer .courseSearchCards .profile-details .profile-img {
    width: 100px;
    height: 100px;
    border: 1px solid #4CAF50;

}

.courseDetailsContainer .courseSearchCards .profile-details .profile-img img {
    width: 100%;
    height: 100%;
}

.courseDetailsContainer .courseSearchCards .profile-details button {
    height: 35px;
    padding: 0.3em 1.2em;
    font-size: 1em;
    background: #3b7334;
    border: none;
    color: #ffffff;
    border-radius: 5px;
    text-align: center;
    width: auto;
}

.courseDetailsContainer .courseSearchCards .profile-details .bids-btn {
    display: none;
    background: #008CBA;
}

.courseDetailsContainer .courseSearchCards:hover {
    cursor: pointer;
    background-color: #dcdcdc;
    opacity: 0.7;
}

.courseDetailsContainer .courseSearchCards:hover .profile-details .bids-btn {

    display: inline-block;
}