﻿* {
    box-sizing: border-box;
}

/* Remove margins and padding from the list */
.notifyList ul {
    margin: 0;
    padding: 0;
}

/* Style the list items */
 .notifyList ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    font-style: italic;
     font-family: "Georgia", Times, Sans-serif;

    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
.notifyList ul li:nth-child(odd) {
    background: #f9f9f9;
}

/* Darker background-color on hover */
.close ul li:hover {
    background: #ddd;
}





/* Style the close button */
.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}

.close:hover {
    background-color: #f44336;
    color: white;
}

