.mainContent {
    width: 100%;
    height: 100%;
    margin: 2% 0;
}

#container {
    width: 100%;
    height: 100%;
}

.box {
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
    width: 60%;
    margin: auto;
    height: auto;
    padding: 0 5% 2% 5%;

}


.box #title {
    width: 50%;
    height: 50px;

    background-color: #F1784A;
    color: #ffffff;
    text-align: center;

    margin: 0 auto;


}

.box #basic-info,
.box #course-info {
    padding-top: 50px !important;
    padding-left: 50px;
    width: 100%;
}

.box #basic-info h4 {
    font-weight: bolder;
}

.box #basic-info p {
    font-weight: 400;
}

.box input[type='text'],
.box input[type='email'] {
    height: 30px;
    width: 70%;

    margin-bottom: 3%;
    margin-right: 20px;
    border-radius: 5px;
    border: 1px solid #707070;
    padding-left: 2%;

}

.box textarea {
    height: 100px;
    width: 70%;
    border-radius: 5px;
    border: 1px solid #707070;
    margin-bottom: 3%;
}

.box #course-info #tutorial-location input {
    width: 70%;

}


.box #course-info #tutorial-location select,
.box #course-info select#tutorial-duration {
    height: 30px;


    margin-bottom: 30px;
}

.box #course-info #tutorial-location select {
    width: 60%;
}

.box #course-info select#tutorial-duration {
    margin-left: 0;
    width: 40%;
}



.box #course-info #budget {
    width: 100%;
}

.box #course-info #naira-budget {
    border: 1px solid #707070;
    height: 30px;
    width: 10%;
    float: left;
    border-radius: 5px 0 0 5px;
}




.box #course-info #input-budget {
    width: 45%;

    border-radius: 0px 5px 5px 0;
    padding-left: 2%;
}




.clearfix {
    clear: both;
}

#send-request {
    border: none;
    outline: 0;
    display: block;
    padding: 5px 0;
    color: white;
    background-color: #3B7334;
    text-align: center;
    cursor: pointer;
    width: 50%;
    height: 50px;
    margin: 0 auto;
    border-radius: 5px;
    font-size: 18px;
}

@media screen and (max-width: 480px) {
    .box {
        width: 80%;
    }

    .box,
    .box #basic-info,
    .box #course-info {
        padding: 10px 20px;
    }

    .box #title {
        width: 100%;
        height: 50px;
    }

    .box input[type='text'],
    .box input[type='email'],
    .box textarea,
    .box #tutorial-location .tutorial-city,
    #send-request {
        width: 100%;
    }

    .box #course-info #tutorial-location select,
    .box #course-info select#tutorial-duration,
    .box #course-info #input-budget {
        width: 100%;
    }

    .box #course-info #tutorial-location select {
        width: 100%;
    }

    .box #course-info #naira-budget {
        width: 15%;
    }

    .box #course-info #input-budget {
        width: 70%;
    }

    .box #course-info #naira-budget img {
        max-width: 100%;
        height: auto;
        display: block;
    }

}
