﻿

.carousel-left {
    width: 85%;
    float: left;
    margin-bottom: 10%;
}

.carousel-right {
    width: 60%;
    float: right;
    margin-bottom: 10%;
}

.carousel-center {
    margin-bottom: 10%;
}

.carousel-text-left {
}

.carousel-text-left {
    float: left;
    width: 40%;
}

.carousel-text-right {
    float: right;
    width: 30%;
}

.bottom-border {
    width: 100%;
    height: 10px;
    margin-top: 10px;
}

    .bottom-border > ul {
        list-style: none outside none;
        padding: 0;
        text-align: center;
        width: 280px;
        margin: 0 auto;
        height: 50px;
    }

        .bottom-border > ul > li {
            display: block;
            width: 50px;
            float: left;
            margin: 0 2%;
            height: 30px;
            border: 1px solid;
            /* background: #ea7066; */
        }

    .bottom-border .circle-border-bottom {
        width: 10px;
        height: 10px;
        border-radius: 50%;
    }

    .bottom-border .straight-border-bottom {
        width: 200px;
        height: 10px;
    }

.outer-circle-course {
    margin: 0 auto;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    position: relative;
    border: 5px solid;
    /* 
    Child elements with absolute positioning will be 
    positioned relative to this div 
   */
}


.inner-circle-course {
    position: absolute;
    border: 5px solid;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    top: 50%;
    left: 50%;
    margin: -50px 0px 0px -50px;
}

    .inner-circle-course > i {
        height: 50px;
        width: 50px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -20px 0px 0px -20px;
    }

/*
colors used for borders, text
**/
/* Borders */

.border-color1 {
    border-color: #ea7066 !important;
}

.border-color2 {
    border-color: #b5d56a !important;
}

.border-color3 {
    border-color: #f0c24b !important;
}

.border-color4 {
    border-color: #337ab7 !important;
}

.border-color5 {
    border-color: #a597e7 !important;
}

.border-color6 {
    border-color: #ea77ad !important;
}

/* icon text colours */
.icon-color1 {
    color: #ea7066 !important;
}

.icon-color2 {
    color: #b5d56a !important;
}

.icon-color3 {
    color: #f0c24b !important;
}

.icon-color4 {
    color: #337ab7 !important;
}

.icon-color5 {
    color: #a597e7 !important;
}

.icon-color6 {
    color: #ea77ad !important;
}

/* background color */

.bgcolor1 {
    background: #ea7066 !important;
}

.bgcolor2 {
    background: #b5d56a !important;
}

.bgcolor3 {
    background: #f0c24b !important;
}

.bgcolor4 {
    background: #337ab7 !important;
}

.bgcolor5 {
    background: #a597e7 !important;
}

.bgcolor6 {
    background: #ea77ad !important;
}

.counter-icon {
    width: 50px;
    height: 50px;
}

.icon-color {
    margin-right: 10px;
    font-size: 16px;
}

.section-h2 {
    margin: 10px 0;
}

.white-text {
    color: #fff !important;
}

/***
/* 
==================================
TESTIMONIAL
==================================

 */
.testimonial {
    margin: 40px 0;
}

    .testimonial h3 {
        width: 50%;
        margin: 0 auto;
    }

    .testimonial .fa-quote-right {
        float: right;
    }

/***
/* 
==================================
FOOTER
==================================

 */

.social-media-links {
    width: 220px;
    margin: 0 auto;
}

.copyRightText p {
    width: 250px;
    margin: 0 auto;
}


@media (min-width: 768px) {
    .navbar-default .navbar-nav > li > a > span {
        width: auto;
        padding: 0 15px;
        display: block;
        font-size: smaller;
    }
}

@media (min-width: 360px) {
  
    .testimonial > h3 {
        width: 80%;
        margin: 0 auto;
        font-size:smaller;
    }

    .carousel-text-left {
        width: 100%;
    }

    .carousel-text-right {
        width: 100%;
    }

    .carousel-text-center > h4 {
        font-size: 12px;
    }

    .carousel-text-left > h4 {
        font-size: 12px;
    }

    .carousel-text-left > a {
        font-size: 10px;
    }

    .carousel-text-right > h4 {
        font-size: 12px;
    }
}
