.tutor-profile {
    width: 100%;
    height: 100%;
}

.tutor-profile-container .row .image-details,
.tutor-profile-container .row .bio-details,
.tutor-profile-container .row .featured-details {
    margin-top: 5%;
}

.tutor-profile-container .row .image-details img {
    max-width: 150px;
    max-height: 150px;

    border-radius: 50%;
}

.tutor-profile-container .row .image-details button {
    background-color: #4099FF;
    width: auto;
    border-radius: 10px;
    margin-top: 10%;
}


.tutor-profile-container .row .image-details .tutor-social-media a i {
    width: 40px !important;
    height: 40px !important;
    text-align: center;
    line-height: 40px;

    border-radius: 50%;
    color: white;
}

.tutor-profile-container .row .image-details .tutor-social-media .tutor-facebook i {
    background-color: #0E76A8;
}

.tutor-profile-container .row .image-details .tutor-social-media .tutor-twitter i {
    background-color: #a597e7;
}

.tutor-profile-container .row .image-details .tutor-social-media .tutor-linkedin i {
    background-color: #4099FF;
}

.tutor-profile-container .row .bio-details .header {
    display: flex;
    justify-content: space-between;
}

.tutor-profile-container .row .bio-details .rating i,
.tutor-profile-container .row .featured-details .featured-tutors .details .rating i {
    color: rgb(255, 152, 0);
}

.tutor-profile-container .row .bio-details .details {
    border: 1px solid #707070;
    box-shadow: 0 3px 6px;
    margin: 5% 0;
    padding: 2%;
}

.tutor-profile-container .row .bio-details h3 {
    color: #EA7066;
}

.tutor-profile-container .row .bio-details ul {
    margin-left: 5%;
}

.tutor-profile-container .row .bio-details li {
    list-style-type: square;
}

.tutor-profile-container .row .bio-details .images .tutor-images,

.tutor-profile-container .row .bio-details .header .pricing {
    display: flex;
    flex-wrap: wrap;
}

.tutor-profile-container .row .bio-details .header .pricing img {
    width: 30px;
    height: 30px;
}

.tutor-profile-container .row .bio-details .images .tutor-images img {
    width: 150px;
    height: 150px;
    margin: 0 3%;
    border-radius: 5px;

}

.tutor-profile-container .row .bio-details .reviews .text-area {
    height: 30%;
    width: 100%;
    background: #dcdcdc;
    padding: 5%;
}

.tutor-profile-container .row .bio-details .reviews .text-area textarea {
    height: 25%;
    width: 100%;
    padding-left: 2%;
}

.tutor-profile-container .row .bio-details .reviews .text-area button {
    width: auto !important;
    display: flex;
    align-content: flex-end;
    background: #0E76A8;
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 10px;
}

.tutor-profile-container .row .bio-details .reviews .posted-reviews {
    margin: 5% 0;
}

.tutor-profile-container .row .bio-details .reviews .posted-reviews::after {
    content: '';
    border: 1px solid dashed;
}

.tutor-profile-container .row .bio-details .reviews .posted-reviews .header {
    display: flex;
}

.tutor-profile-container .row .featured-details {
    background: #00B4DB;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #0083B0, #00B4DB);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #0083B0, #00B4DB);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    height: auto;
    padding: 20px 5px;

}

.tutor-profile-container .row .featured-details .header,
.tutor-profile-container .row .featured-details .footer button {

    text-align: center;
    color: white;
    background: #EA7066;
    border-radius: 5px;
    padding: 10px;

}


.tutor-profile-container .row .featured-details .featured-tutors {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: whitesmoke;
    margin: 20px 0;
    padding: 20px 5px;
    box-sizing: border-box;
}

.tutor-profile-container .row .featured-details .featured-tutors .tutor-img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.tutor-profile-container .row .featured-details .featured-tutors .pricing,
.tutor-profile-container .row .featured-details .featured-tutors .subject {
    display: flex;
    justify-content: space-evenly;
}

.tutor-profile-container .row .featured-details .featured-tutors .naira-img {
    height: 20px;
    width: 20px;
}

.tutor-profile-container .row .featured-details .featured-tutors .pricing p {
    color: #EA7066;
}

@media screen and (max-width: 500px) {
    .tutor-profile-container .row .image-details img {

        max-width: 100%;
        height: auto;
        display: block;
    }

}