
/* reset stylesheet */

	/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.5;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* end reset stylesheet */


body{
	width: 100%;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #545454;
	font-size: 100%;
	background-color: white;
}

img{ max-width: 100%; }
h1{	font-size: 150%; }
h2{ font-size: 137.5%; }
p{ font-size: 100%;}
a { 
	text-decoration: none;
	color: white;
}

.secondFold{ 
	width: 90%;
	margin: 0 auto;
	
}
#secondFold1, #secondFold2, #secondFold3, #secondFold4{
	width: 100%;
	// background-color: red;
	padding: 50px 0;
}

#secondFold2{
	background-color: rgb(250,250,250);;
	padding: 50px 0;
}
#secondFold3{
	//background-color: red;
}
#secondFold4{
	background-color: rgb(250,250,250);
}

section a, #submit { 
	padding: 10px;
	background-color: green;
	border-radius: 5px;
	color: white;

}
#contact input{
	padding: 5px;
	margin: 5px auto;
	border-radius: 2px;
	width: 90%;
}
#contact form{ 
	max-width: 500px; 
	margin: 0 auto;
}
textarea{
	width: 90%;
	margin: 0 auto;
	height: 100px;
}

.link{
	margin-top: 10px;
}

.mobile{
	width: 20%;
	text-align: center;
	height: 30px;
	display: block;
}
#siteId{
	width: 60%;
	height: 30px;
	margin: -30px 0 0 20%;
	text-align: center;	
	display: block;
}
#regButton{
	margin: -30px 0 0 80%;
}
nav{
	display: none;
}
header{ margin: 10px 0;}
#advert{ height: 300px; }
section div{
	
	width: 100%;
}

 #tutorial, #mathTutorial, #englishTutorial { padding-bottom: 30px; } 
.ourHeader{
	text-align: center;
}
.subjectImage {
	width: 100%;
}
.subjectImage img {
	width: 100%;
}


#testHeader{
	width: 60%;
	height: 30px;
	text-align: left;
}
#testButton{
	width: 40%;
	text-align: right;
	margin: -40px 0 0 60%;
}

#one p, #two p, #three p, #four p{

}

footer { 
	width: 100%; 
	padding: 50px 0;
	background-color: #0b1621;
	color: rgba(255,255,255, 0.5);
}
.white { color: white;}

@media screen and (min-width: 860px) {
	#tutorial, #mathTutorial, #englishTutorial { padding-bottom: 0px; }
	.mobile{ display: none; }
	header{
		width: 95%;
		margin: 30px 0 0 5%;
	}
	nav{ 
		display: block; 
		width: 70%;
		height: 100px;
		text-align: right;
		margin: -100px 0 0 30%;
	}
	#siteId{ 
		margin: 0;
		width: 30%;
		height: 100px;
		text-align: left;
	}
	nav ul li { 
		display: inline-block; 
		margin-right: 5%;
	}
	#upperFold{ 
		position: relative;
		width: 100%;
		height: 600px;
		color: white;
	}
	#topLayer{
		position: absolute;
		z-index: 1;
		width: 100%;
		height: 600px;
		/* top: 120px; */
	}
	#bottomLayer{
		position: absolute;
		z-index: 0;
		width: 100%;
		height: 600px;
		background-color: #0b1621;
	}
	#searchBox{
		width: 60%;
		margin: 150px auto;
	}
	#searchBox p { width: 100%; }
	#searchInput{
		width: 80%;
		padding: 10px;
		font: 100%;
	}
	#searchButton{
		width: 20%;
		padding: 20px;
	}

	
	
	#advert{ height: 500px; }
	section div { margin: 0;}
	#tutorial, #subjects{	height: 500px; }
	#tutorial{ 
		width: 33%;
		border-color: #555;
		border-width: 3px;
	}
	#subjects{ 
		width: 67%;
		margin: -500px 0 0 33%;
	}
	.subjectDescription, .subjectImage { 
		width: 94%;
		margin: 0 3%;
	}
	#mathTutorial, #englishTutorial, #ictTutorial { 
		width: 33%;
		height: 500px;
	}
	#englishTutorial, #ictTutorial { margin-top: -500px;}
	#englishTutorial{margin-left: 33%;}
	#ictTutorial{margin-left: 66%;}
	
	#aboutContact { margin: 50px 0; }
	#about, #contact { 
		width: 50%; 
		height: 400px;
		padding: 0 3%;
	}
	#contact { margin: -400px 0 0 50%; }
	#form-left, #form-right{ 
		width: 50%; 
		height: 300px;
	}
	#form-right{
		margin: -300px 0 0 50%;
	}
	#contact form{ 
		width: 90%; 
		margin: 20px auto;
	}
	textarea { height: 140px; }
	
	#whyUs{ margin-bottom: 80px;}
	#one, #two, #three, #four { 
		width: 23%; 
		height: 200px;
	}
	 #two, #three, #four { margin-top: -200px;}
	 #two{ margin-left: 25%;}
	 #three{ margin-left: 50%;}
	 #four{ margin-left: 75%;}
	 
	 section header { margin-bottom: 50px;}
	 #firstTestimony, #secondTestimony{
		width: 50%; 
		height: 250px;
		padding: 0 3%;
	 }
	 #secondTestimony{ margin: -250px 0 0 50%; }
	 
	 .myFooter, #copywrite{
		 width: 90%;
		 margin: 0 auto;
	 }
	 #aboutFooter, #extraNAv, #tutFooter, #supportFooter {
		 width: 25%;
		 padding: 0 1%;
		 height: 300px;
	 }
	 #extraNAv, #tutFooter, #supportFooter { margin-top: -300px; }
	 #extraNAv { margin-left: 27%;  width: 23%; }
	 #tutFooter { margin-left: 50%; }
	 #supportFooter { margin-left: 75%; }
	 
	 #copy, #enquiry {width: 50%; height: 30px; }  
	 #enquiry{
		 margin-top: -30px;
		 margin-left: 50%;
		 text-align: right;
	 }
	 
}