﻿@using TeachMyChild.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}



<section class="mainContent full-width clearfix">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4 col-sm-6 col-xs-12">
                <div class="panel panel-default formPanel">
                    <div class="panel-heading bg-color-1 border-color-1">
                        <h3 class="panel-title" style="text-align:center">LOG IN WITH YOUR REGISTERED ACCOUNT</h3>
                    </div>
                    <div class="panel-body">
                        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                            @Html.AntiForgeryToken()

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group formField">
                                @*@Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })*@
                                <div class="col-md-12">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email" })
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group formField">
                                @*@Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })*@
                                <div class="col-md-12">
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group formField">
                                <div class="col-md-offset-2 col-md-10">
                                    <div class="checkbox">
                                        @Html.CheckBoxFor(m => m.RememberMe)
                                        @Html.LabelFor(m => m.RememberMe)
                                    </div>
                                </div>
                            </div>
                            <div class="form-group formField">
                                <input type="submit" class="btn btn-primary btn-block bg-color-3 border-color-3" value="Log in">
                                <div>
                                    <h4>@ViewBag.Msg</h4>
                                </div>
                            </div>
                            <div class="form-group formField">
                                <p class="help-block">@Html.ActionLink("Forgot your password?", "ForgotPassword")</p>
                                <p class="help-block">
                                    @Html.ActionLink("CREATE AN ACCOUT WITH US", "Register")
                                </p>
                            </div>
                            @*<p>
                                    @Html.ActionLink("Register as a new user", "Register")
                                </p>*@
                            @* Enable this once you have account confirmation enabled for password reset functionality
                                <p>
                                    @Html.ActionLink("Forgot your password?", "ForgotPassword")
                                </p>*@
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

















@*<div class="row">
    <div class="col-md-8">
        <section id="loginForm"></section>
    </div>
    <div class="col-md-4">
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>
</div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}