﻿@model TeachMyChild.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}



<section class="mainContent full-width clearfix">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4 col-sm-6 col-xs-12">
                <div class="panel panel-default formPanel">
                    <div class="panel-heading bg-color-1 border-color-1">
                        <h3 style="text-align:center" class="panel-title">Create  an account</h3>
                    </div>
                    <ul class="nav nav-tabs">
                        <li style="text-align:center; width:inherit" class="active"><a data-toggle="tab" href="#tutor">Become a Tutor</a></li>
                        <li style="text-align:center; width:inherit" ><a data-toggle="tab" href="#learner">Register to start learning</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="tutor" class="tab-pane fade in active">
                            <div class="panel-body">
                                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                {
                                    <input type="hidden" name="AccountType" value="@ViewBag.AccountType" />
                                    @Html.AntiForgeryToken()

                                    @Html.ValidationSummary("", new { @class = "text-danger" })
                                    <div class="form-group formField">
                                        <div class="col-md-12">
                                            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @placeholder = "Last name" })
                                        </div>
                                    </div>
                                    <div class="form-group formField">
                                        <div class="col-md-12">
                                            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @placeholder = "First name" })
                                        </div>
                                    </div>
                                    <div class="form-group formField">
                                        @*@Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })*@
                                        <div class="col-md-12">
                                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email" })
                                        </div>
                                    </div>
                                    <div class="form-group formField">
                                        @*@Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })*@
                                        <div class="col-md-12">
                                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                                        </div>
                                    </div>
                                    <div class="form-group formField">
                                        @*@Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })*@
                                        <div class="col-md-12">
                                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm password" })
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-9 col-centered text-center">

                                            @*<input style="margin:auto; margin-left:10px; margin-right:10px" type="radio" name="register" value="tutor" checked> Tutor
                        <input   style="margin:auto; margin-left:40px; margin-right:10px"  type="radio" name="register" value="parent"> Parent*@
                                        </div>
                                    </div>

                                    <div class="form-group formField">
                                        <input type="submit" class="btn btn-primary btn-block bg-color-3 border-color-3" name="action" value="Become a Tutor" />
                                        @*<input type="submit" class="btn btn-primary btn-block bg-color-3 border-color-3" value="Register">*@
                                    </div>
                             
                                    <div>
                                        @ViewBag.Msg
                                    </div>
                                }
                            </div>

                        </div>
                        <div id="learner" class="tab-pane fade">
                            <div class="panel-body">
                                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                {
                                    <input type="hidden" name="AccountType" value="@ViewBag.AccountType" />
                                    @Html.AntiForgeryToken()

                                    @Html.ValidationSummary("", new { @class = "text-danger" })
                                    <div class="form-group formField">
                                        <div class="col-md-12">
                                            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @placeholder = "Last name" })
                                        </div>
                                    </div>
                                    <div class="form-group formField">
                                        <div class="col-md-12">
                                            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @placeholder = "First name" })
                                        </div>
                                    </div>
                                    <div class="form-group formField">
                                        @*@Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })*@
                                        <div class="col-md-12">
                                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email" })
                                        </div>
                                    </div>
                                    <div class="form-group formField">
                                        @*@Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })*@
                                        <div class="col-md-12">
                                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                                        </div>
                                    </div>
                                    <div class="form-group formField">
                                        @*@Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })*@
                                        <div class="col-md-12">
                                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm password" })
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-9 col-centered text-center">

                                            @*<input style="margin:auto; margin-left:10px; margin-right:10px" type="radio" name="register" value="tutor" checked> Tutor
                        <input   style="margin:auto; margin-left:40px; margin-right:10px"  type="radio" name="register" value="parent"> Parent*@
                                        </div>
                                    </div>
                                    <div class="form-group formField">
                                        <input type="submit" class="btn btn-primary btn-block bg-color-5 border-color-3" name="action" value="Register to start learning" />
                                        @*<input type="submit" class="btn btn-primary btn-block bg-color-3 border-color-3" value="Register">*@
                                    </div>

                                    <div>
                                        @ViewBag.Msg
                                    </div>
                                }
                            </div>

                        </div>
                       
                    </div>
                  
                    @*<div class="panel-body">
                        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            <input type="hidden" name="AccountType" value="@ViewBag.AccountType" />
                            @Html.AntiForgeryToken()

                            @Html.ValidationSummary("", new { @class = "text-danger" })
                            <div class="form-group formField">
                                <div class="col-md-12">
                                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @placeholder = "Last name" })
                                </div>
                            </div>
                            <div class="form-group formField">
                                <div class="col-md-12">
                                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @placeholder = "First name" })
                                </div>
                            </div>
                            <div class="form-group formField">
                  
                                <div class="col-md-12">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email" })
                                </div>
                            </div>
                            <div class="form-group formField">
                             
                                <div class="col-md-12">
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                                </div>
                            </div>
                            <div class="form-group formField">
                                <div class="col-md-12">
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm password" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-9 col-centered text-center">

                                         </div>
                            </div>

                            <div class="form-group formField">
                                <input type="submit" class="btn btn-primary btn-block bg-color-3 border-color-3" name="action" value="Become a Tutor" />
                                  </div>
                            <div class="form-group formField">
                                <input type="submit" class="btn btn-primary btn-block bg-color-5 border-color-3" name="action" value="Register to start learning" />
                              </div>

                            <div>
                                @ViewBag.Msg
                            </div>
                        }
                    </div>*@






                </div>
            </div>
        </div>
    </div>
</section>





@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
