﻿@model TeachMyChild.Core.Implementations.TutorialRequest

@{
    ViewBag.Title = "Details";
}

<section class="mainContent full-width clearfix">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-8 col-xs-12 block">
                <div class="panel panel-default">
                    <div class="panel-heading bg-color-3 border-color-3">
                        <h3 class="panel-title" style="color:white;">Tutorial Request Details</h3>
                    </div>

                    <div class="row">
                        <div class="col-xs-7 col-sm-5 col-lg-8">
                            <div class="product-info" style="margin-left:10px; margin-top: 20px">
                                @Html.HiddenFor(m => m.ID)
                                <h1 class="product-title">@Html.DisplayFor(model => model.ShortSummary)</h1>
                                <div class="price">
                                    <span>&#8358;@Html.DisplayFor(model => model.ProposedChargePerHour, new { Style = "font-size:font-size: 45px;" })</span><b>/ hr</b>
                                </div>
                                <p>@Html.DisplayFor(model => model.Details)</p>

                                <div class="add-cart" style="margin-bottom:40px">
                                    @*<h5 style="margin-top:10px; float: left">Place Bid Offer:</h5>
                                    <div class="count-input" style="margin-left:10px; width: 150px;">
                                        <input class="quantity btn-primary" type="text" value="1">
                                        <a class="incr-btn incr-up" data-action="decrease" href="#"><i class="fa fa-caret-up" aria-hidden="true"></i></a>
                                        <a class="incr-btn incr-down" data-action="increase" href="#"><i class="fa fa-caret-down" aria-hidden="true"></i></a>
                                    </div>*@

                                    @{
                                        if (ViewBag.LoggedInUser == "Tutor")
                                        {
                                         
                                                <div class="row form-inline" style="margin-left: 5px">
                                                    <label>Proposal</label>
                                                    <input type="text" id="txtBidAmount" placeholder="0.00" class="form-control border-color-2 not-brdr-radius" />  
                                                    <p style="margin-top:20px"><textarea rows="4" cols="100" id="txtBidProposal" class="form-control border-color-4 not-brdr-radius" placeholder="Describe your offer"></textarea></p>                                                                                        
                                                </div>
                                                <input id="btnPlaceBid" type="button" class="add-to-cart btn btn-primary" style="margin-left:5px" value="Submit Offer" />
                                           
                                        }
                                    }

                                </div>

                            </div>
                        </div>
                        <div class="col-xs-5 col-sm-6 col-lg-4" style="margin-top:80px;">
                            <p> <b>@Html.DisplayFor(model => model.NumberOfHoursInADay) Hr(s) per  Day</b></p>
                          <p><b> @Html.DisplayFor(model => model.NumberOfDaysInAWeeek) Day(s) per  Week</b> </p>  
                           <p><b>@Html.DisplayFor(model => model.NumberOfStudents) Child/Childern</b> </p> 
                            <p><b> City: </b> @Html.DisplayFor(model => model.City)</p>
                            <p>  <b>@Html.DisplayNameFor(model => model.State):</b> @Html.DisplayFor(model => model.State)
                            </p>
                        </div>

                    </div>
                </div>
                <div>
                    <dt>
                        <b>Posted on: </b>
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.DateCreated)
                        @*@Html.DisplayFor(model => model.DateCreated.ToLocalTime().ToLongTimeString())*@
                    </dd>
                </div>

                <div class="row" style="margin-top: 20px; margin-bottom:10px">
                    @*<div class="col-xs-5 col-sm-7 col-lg-5" style="margin-right: 50px">
                    <a href="cart-page.html" class="add-to-cart btn btn-primary">Submit Offer</a>
                        <button id="btnPlaceBid" class="add-to-cart btn btn-primary btn-sm">Submit Offer</button>
                    </div>*@
                    
                      <div class="share col-xs-5 col-sm-7 col-lg-5" style="float:right">
                        <span>Share: </span>
                        <ul class="list-inline">
                            <li><a href="#" class="bg-color-1"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#" class="bg-color-2"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#" class="bg-color-3"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                            <li><a href="#" class="bg-color-4"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                            <li><a href="#" class="bg-color-5"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            
                <br />
                <div>
                    <p>

                        @Html.ActionLink("Back to List", "Index")
                    </p>

                </div>
              
            </div>

        </div>
       

     
    </div>

</section>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script type="text/javascript">
    function displaySpinner() {
        $("#loading").show();
    }
    function hideSpinner() {
        $("#loading").hide();
    }

    $("#btnPlaceBid").on('click', function (e) {
        var model = {
            Amount: $('#txtBidAmount').val(),
            Proposal: $('#txtBidProposal').val(),
            TutorialRequestId: $('#ID').val()
        };
        var url = "/Tutorials/Bid";
        $.ajax({
            type: "POST",
            url: url,
            data: JSON.stringify(model),
            contentType: "application/json",
            processData: false,
            beforeSend: function () {
                // displaySpinner();
            },
            complete: function () {
                // hideSpinner();
            },
            error: function (e) {
                if (e) {
                    alert(e.statusText);
                }
                else {
                    alert(e.statusText);
                }

            },
            success: function (response) {
                if (response['success'])
                    alert(response['msg'])
                else
                    alert('Error! ' + response['msg'])
            }
        });


    })
</script>

