﻿@model  IEnumerable<TeachMyChild.Core.Implementations.TutorialRequest>
@{
    ViewBag.Title = "Index";
}



@*@foreach (var item in Model)
{
    <div class="row col-md-12">
        <div class="col-md-4">
            Tutorial request by @item.Poster.FirstName @item.Poster.LastName    <strong>Budgetted NGN @item.ProposedChargePerHour</strong>
        </div>
        <div class="col-md-8">
            @item.Details
            <p>@Html.ActionLink("Bid", "Bid")</p>
            <p>@Html.ActionLink("View Details", "Details")</p>
        </div>
    </div>
}*@

<section class="mainContent listCourseContainer  full-width clearfix">
    <div class="searchCourseContainer">
        @if (Model.Count() == 0)
        {
            <h1>No contents to show</h1>
        }
        <div class="searchCourse">
            <input type="search" name="" id="" style="flex-grow: 6" placeholder="Search Course">
            <input type="text" name="" id="" style="flex-grow: 6" placeholder="Search by Location">

            <button type="submit" style="flex-grow: 1">Search</button>
        </div>

        <div class="courseDetailsContainer">
            <div class="filterCourse">
                <select id="" class="default-select">
                    <option value="" selected="">Newest first</option>
                    <option value="">Lowest budget first</option>
                    <option value="">Highest budget first</option>
                    <option value="">Lowest bids</option>
                    <option value="">Highest bids</option>
                </select>
                <div class="top-pagination">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item active"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                </div>
            </div>


            @foreach (var item in Model)
            {
                <div class="courseSearchCards row" onclick="window.location.href = 'tutorials/details/'+@item.ID">
                    <div class="courseSearchItem col-sm-8">
                        <div class="courseSearchItemHeading">
                            <h3>@item.ShortSummary</h3>
                        </div>
                        <div class="courseSearchItemDescription">
                            <p> @item.Details
                            </p>
                            <span><i class="fa fa-tag"></i></span>
                            <ul>
                                <li>@item.Course.Name</li>
                              
                            </ul>
                        </div>                        
                        @{
                            var x = TeachMyChild.Helpers.DateHelper.GetRelativeTime(item.DateCreated);
                            <h6 class="text-danger">Posted: @x</h6>
                        }
                    </div>

                    <div class=" profile-details col-sm-4">
                        <div class="profile-img">
                            <img src="./assets/img/avatar.png" alt="">
                        </div>
                    @*    <p>Name: @item.Poster.LastName @item.Poster.FirstName</p>*@
                        <p>Budget per hour : @item.ProposedChargePerHour</p>
                        <p>City: @item.City</p>
                        <p>State: @item.State</p>
                        @if(item.Bids.Count < 2)
                        {
                           <p>@item.Bids.Count bid</p>                        }
                        else
                        {
                           <p>@item.Bids.Count bids</p>
                        }
                        
                        @*<button onclick="alert('hi')">Read More</button>
                        <button onclick="alert('hello')" class="bids-btn">Bids</button>*@
                    </div>
                </div>
            }


        
            
            
                    
        </div>

    </div>


</section>

<link href="~/assets/css/list-course.css" rel="stylesheet" />