﻿@model TeachMyChild.ViewModels.CreateNewTutorialRequestVM

<section class="mainContent full-width clearfix">
    <div class="container">
        <div class="row center" style="margin-bottom: 20px; margin-left: 10px">
            <ul class="nav nav-pills" role="tablist">
                <li class="active">@Html.ActionLink("Request Tutorial", "", "Tutorials")</li>
                <li>@Html.ActionLink("Dashboard", "MyDashBoard", "Tutor")</li>
                <li>
                    @Html.ActionLink("View posted requests", "Index")
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-9 col-sm-8 col-xs-12 block">
                <div class="panel panel-default formPanel">
                    <div class="panel-body">
                        @using (Html.BeginForm())
                        {
                            @Html.ValidationSummary("", new { @class="text-danger"})
                            @Html.AntiForgeryToken()
                            <div class="panel-heading bg-color-3 border-color-3" id="title">
                                <h3 class="panel-title">Request Details</h3>
                            </div>
                            <div id="course-info">
                                <div class="pull-right">
                                    <h5 class="text-danger">
                                        @ViewBag.Msg
                                    </h5>
                                </div>

                                <p style="margin-top:20px"><b>Request title </b></p>
                                @Html.TextBoxFor(m => m.ShortSummary, new { placeholder = "I need a", @class = "form-input", Style = "padding:10px; width:100%;-webkit-border-radius: 5px; moz-border-radius:5px;border-radius: 5px;" })
                                                <hr style="height:20px" />
                
                                                <p><b>Subject(s) to take </b></p>
                                @*<input required type="text">*@
                                @*@Html.ListBoxFor(x => x.Courses, Model.CourseListItems)*@
                                @Html.DropDownList("CourseId", ViewBag.Courses as IEnumerable<SelectListItem>, "Select", new { @class = "form-control" })
                                <hr style="height:20px" />

                                <p><b>Tutorial Description </b></p>
                                @Html.TextAreaFor(m => m.Description, new { Style = "padding-left:10px; width:100%;  height: 150px;-webkit-border-radius: 5px; moz-border-radius:5px;border-radius: 5px;" })
                                <hr style="height:20px" />

                                <div id="tutorial-location" class="row">

                                    <div class="tutorial-city col-md-6">
                                        <p><b> City Tutorial Would Hold </b></p>
                                        @Html.TextBoxFor(m => m.City, new { @class = "form-input", Style = "padding-left:10px; padding-top:4px; padding-bottom:4px; width:100%;-webkit-border-radius: 5px; moz-border-radius:5px;border-radius: 5px;" })
                                    </div>

                                    <!-- <div class="clearfix"></div> -->
                                    <div class="select-state  col-md-6">
                                        <p><b>State</b></p>
                                        @Html.DropDownList("State", ViewBag.States as IEnumerable<SelectListItem>, "Select", new { @class = "form-control" })
                                    </div>
                                </div>
                                <hr style="height:20px" />
                                <div class="row">
                                    <div class="col-md-6">
                                        <p><b>Number of Children</b></p>
                                        @Html.DropDownListFor(m => m.NumberOfStudents,
                     new List<SelectListItem> {
                       new SelectListItem { Value = "1" , Text = "1" },
                       new SelectListItem { Value = "2" , Text = "2" },
                       new SelectListItem { Value = "3" , Text = "3" },
                       new SelectListItem { Value = "4" , Text = "4" },
                       new SelectListItem { Value = "5" , Text = "5" },
                       new SelectListItem { Value = "6" , Text = "6" },
                       new SelectListItem { Value = "7" , Text = "7" },
                       new SelectListItem { Value = "8" , Text = "8" },
                       new SelectListItem { Value = "9" , Text = "9" },
                       new SelectListItem { Value = "10" , Text = "10" }
                       }, new { Style = "padding:3px; width:100%;" })
                                    </div>
                                    <div class="col-md-6">
                                        <p><b>Budget &#8358;</b></p>
                                        @Html.TextBoxFor(m => m.ProposedChargePerHour, new { Style = "padding-left:10px; padding-top:3px; padding-bottom:3px; width:100%;-webkit-border-radius: 5px; moz-border-radius:5px;border-radius: 5px;" })
                                    </div>
                                </div>

                                <hr style="height:20px" />

                                <div class="row">
                                    <div class="col-md-6">
                                        <p><b>Number of hours per day</b></p>
                                        @Html.DropDownListFor(m => m.NumberOfHoursInADay,
             new List<SelectListItem> {
                       new SelectListItem { Value = "1" , Text = "1" },
                       new SelectListItem { Value = "2" , Text = "2" },
                       new SelectListItem { Value = "3" , Text = "3" },
                       new SelectListItem { Value = "4" , Text = "4" },
                       new SelectListItem { Value = "5" , Text = "5" },
                       new SelectListItem { Value = "6" , Text = "6" }
               }, new {  Style = "padding:3px; width:100%;" })
                                    </div>
                                    <div class="col-md-6">
                                        <p><b>Number of days in a week </b></p>
                                        @Html.DropDownListFor(m => m.NumberOfDaysInAWeeek,
             new List<SelectListItem> {
                       new SelectListItem { Value = "1" , Text = "1" },
                       new SelectListItem { Value = "2" , Text = "2" },
                       new SelectListItem { Value = "3" , Text = "3" },
                       new SelectListItem { Value = "4" , Text = "4" },
                       new SelectListItem { Value = "5" , Text = "5" },
                       new SelectListItem { Value = "6" , Text = "6" },
                       new SelectListItem { Value = "7" , Text = "7" }
               }, new { Style = "padding:3px; width:100%;" })
                                    </div>
                                </div>


                            </div>

                            <div class="clearfix row"></div>
                                <hr />
                                <button id="send-request">SUBMIT REQUEST</button>

                        }
                    </div>


                </div>

            </div>
            @*@Html.Partial("_tempSidebar")*@
        </div>

    </div>

</section>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<link href="~/assets/css/request-tutorial.css" rel="stylesheet" />
<style>
    .checked {
        color: orange;
    }
</style>
