﻿
@{
    ViewBag.Title = "Index";
}
<section class="mainContent full-width clearfix">
    <div class="container">
        <div class="row col-md-8 col-md-offset-2">
            <p>
                Teach My Child Global Unlimited presents "AMELIORATING EDUCATIONAL DECADENCE AND UNEMPLOYMENT IN NIGERIA USING ICT" <br />

                Special guests of honor are The Vice President, Prof. Yemi Osinbajo, Honourable Minister of Science and Technology, and other dignitaries.

                Date: 15th December, 2018 and the time is 12:00noon

                Venue: The Merit House, Maitama, Abuja.
            </p>

        </div>
        <div class="row center col-md-8 col-md-offset-2" style="margin-bottom: 20px">
            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSd-Bg0f2HsA3RSbxapltQV-hGMO_zWuGDYTvB2HSt7BEkzpGw/viewform?embedded=true" width="640" height="489" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>

            </div>
        </div>
    </section>

            